<div class="social">
  <div class="container">
    <h2 class="social__headline">Folge MinimalWaste</h2>
    <div class="social__icons">
      <a class="social__icon icon fab fa-instagram" href="{{ site.instagram-link }}" target="_blank" alt="" title="MinimalWaste auf Instagram"></a>
      <a class="social__icon icon fab fa-twitter" href="{{ site.twitter-link }}" target="_blank" alt="" title="MinimalWaste auf Twitter"></a>
      <a class="social__icon icon fab fa-youtube" href="{{ site.youtube-link }}" target="_blank" alt="" title="MinimalWaste auf YouTube"></a>
      {% comment %}<a class="social__icon icon fab fa-facebook" href="{{ site.facebook-link }}" target="_blank" alt="" title="MinimalWaste auf Facebook"></a>{% endcomment %}
      {% comment %}<a class="social__icon icon fab fa-pinterest" href="{{ site.pinterest-link }}" target="_blank" alt="" title="MinimalWaste auf Pinterest"></a>{% endcomment %}
      {% comment %}<a class="social__icon icon fab fa-patreon" href="{{ site.patreon-link }}" target="_blank" alt="" title="unterstütze MinimalWaste auf Patreon"></a>{% endcomment %}
      <a class="social__icon icon fas fa-envelope" href="mailto:{{ site.email-website }}" target="_blank" alt="" title="schreibe eine Email an MinimalWaste"></a>
      <a class="social__icon icon fas fa-rss" href="{{ site.url }}/feed.xml" target="_blank" alt="" title="RSS-Feed von MinimalWaste"></a>
    </div>
  </div>
</div>
