<div id="newsletter" class="newsletter">
  <div class="container">
    <h2 class="newsletter__headline">Nachhaltigkeit per Mail</h2>
    <p class="newsletter__subheadline">Melde dich an und erhalte alle neuen Tipps und Posts per Mail.</p>
    <form class="newsletter__form validate" action="https://minimalwaste.us15.list-manage.com/subscribe/post?u=511b3fb014e229b37efa384b2&amp;id=20f1100afe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" novalidate="">
      <label class="newsletter__form-label" for="subscriber-email">Deine Email-Adresse</label>
      <input class="newsletter__form-input" id="subscriber-email" type="email" name="EMAIL" placeholder="superöko@greenhosting.com" aria-required="true" />
      <p class="newsletter__form-text">Mit der Anmeldung zum Newsletter stimme ich der
        <a class="newsletter__link" href="/pages/datenschutz/">Datenschutzerklärung</a> zu und mir ist bewusst,
        dass ich den Newsletter jeder Zeit wieder abbestellen kann.
      </p>
      <!-- mailchimp error responses -->
      <div id="mce-responses">
    		<div class="newsletter__form-response" id="mce-error-response"></div>
    		<div class="newsletter__form-response" id="mce-success-response"></div>
    	</div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div class="newsletter__form-honeypot" aria-hidden="true">
        <input type="text" name="b_511b3fb014e229b37efa384b2_20f1100afe" tabindex="-1" value="" />
      </div>
      <input class="newsletter__form-button" type="submit" value="Anmelden" />
    </form>
  </div>
</div>
