@media print {

  body > *:not(main),
  .sharing,
  .post__sidebar > *:not(.sources),
  .comments,
  .lead-magnet,
  .plug,
  .external-notice,
  .toc {
    display: none;
  }

  body {
    background-color: #fff;
  }

  @page {
    margin: 1cm;
  }

  img,
  figure,
  ul,
  ol,
  dl,
  table {
    page-break-inside: avoid;
  }

  .post__body {

    img,
    figure {
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
    }

    .iframe {
      &::after {
        content: ' (' attr(data-url) ' | externer Link)';
      }
    }

    a {
      word-wrap: break-word;
      &::after {
        content: ' (minimalwaste.de' attr(href) ')';
        font-size: 80%;
      }

      &[href^='http'] {
        &::after {
          background: none;
          content: ' (' attr(href) ' | externer Link)' !important;
          display: inline;
          overflow: auto;
          text-indent: .3em !important;
          top: 2px !important;
          white-space: normal;
          width: auto !important;
        }
      }
    }

    abbr {
      word-wrap: break-word;
      &::after {
        content: ' (' attr(title) ')';
        font-size: 80%;
      }
    }
  }

  .sources {
    max-width: none;
  }
}
