<div class="cn-modal cn-modal--hidden" role="dialog" aria-labelledby="cookie-notice-title">
  <div class="cookie-notice">
    <h2 class="cookie-notice__title" id="cookie-notice-title" tabindex="0">MinimalWaste verwendet Cookies</h2>
    <p class="cookie-notice__text">
      MinimalWaste verwendet Cookies. Weiteren Informationen findest du in der
      <a class="cookie-notice__link" href="{{ site.baseurl }}/pages/datenschutz" title="Zur Datenschutzerklärung" target="_blank">Datenschutzerklärung</a>.
    </p>
    <div class="cookie-notice__buttons">
      <button class="cookie-notice__button cookie-notice__button--refuse secondary" type="button" title="Cookies ablehnen.">
        Ich möchte keine Cookies
      </button>
      <button class="cookie-notice__button cookie-notice__button--accept primary" type="button" title="Cookies erlauben">
        Cookies sind ok
      </button>
    </div>
  </div>
</div>
