<div class="cn-modal cn-modal--hidden" role="dialog" aria-label="MinimalWaste verwendet Cookies">
  <div class="cookie-notice">
    <h2 class="cookie-notice__title" tabindex="0">MinimalWaste verwendet Cookies</h2>
    <p class="cookie-notice__text">
      MinimalWaste verwendet Cookies, damit der Blog stetig besser und informativer
      gestaltet werden kann. Weiteren Informationen findest du in der
      <a class="cookie-notice__link" href="/pages/datenschutz" title="Zur Datenschutzerklärung" target="_blank">Datenschutzerklärung</a>.
      Bei Fragen wende dich gerne an
      <a class="cookie-notice__link" href="mailto:info@minimalwaste.de?subject=datenschutz" title="Schreibe eine Nachricht an MinimalWaste">info@minimalwaste.de</a>.
    </p>
    <div class="cookie-notice__buttons">
      <button class="cookie-notice__button cookie-notice__button--refuse secondary" title="Cookies ablehnen.">
        Nein, ich möchte keine Cookies
      </button>
      <button class="cookie-notice__button cookie-notice__button--accept primary" title="Cookies erlauben">
        Cookies sind ok
      </button>
    </div>
  </div>
</div>
