<div id="cn-modal" class="cn-modal cn-modal--hidden">
  <div class="cookie-notice">
    <h2 class="cookie-notice__title">MinimalWaste verwendet Cookies</h2>
    <p class="cookie-notice__text">
      MinimalWaste verwendet Cookies, damit der Blog stetig besser und informativer
      gestaltet werden kann. Weiteren Informationen findest du in der
      <a class="cookie-notice__link" href="/pages/datenschutz" title="Zur Datenschutzerklärung" target="_blank">Datenschutzerklärung</a>.
      Bei Fragen wende dich gerne an
      <a class="cookie-notice__link" href="mailto:info@minimalwaste.de?subject=datenschutz" title="Schreibe eine Nachricht an MinimalWaste">info@minimalwaste.de</a>.
    </p>
    <div class="cookie-notice__buttons">
      <a id="cookie-notice__button--refuse" class="cookie-notice__button cookie-notice__button--refuse reset" role="button" title="Cookies ablehnen.">
        Nein, ich möchte keine Cookies!
      </a>
      <a id="cookie-notice__button--accept" class="cookie-notice__button cookie-notice__button--accept submit" role="button" title="Cookies erlauben">
        Cookies sind ok :)
      </a>
    </div>
  </div>
</div>
