<header id="top" class="header">
  <div class="container">

    <!-- branding aka title of page and logo -->
    <div class="branding">
      <a href="{{ site.url }}" title="zur Startseite">
        {% if page.layout == 'home' %}
          <h1 class="branding__title">{{ site.title }} - {{ site.subtitle }}</h1>
        {% endif %}
        <img class="branding__logo" src="/assets/logos/logo.png" alt="{{ site.title }} - {{ site.subtitle }}" title="{{ site.title }} - {{ site.subtitle }}" width="300px" />
      </a>
    </div>

    <!-- skip navigation link -->
    <a class="skip-to-content" href="#main">Zum Hauptinhalt</a>

    <!-- primary navigation -->
    <nav class="navigation">
      <!-- menu -->
      <a class="nav__link nav__link--menu fas fa-bars" href="#" alt="" title="öffnen oder Schließen des Menüs" aria-label="Menü Button" aria-expanded="false" onclick="menuLinkClicked()"></a>
      <ul class="menu menu--main menu--hidden">
        <li class="menu__item menu__item--has-submenu" aria-labelledby="menu__link-1">
          <a id="menu__link-1" class="menu__link" aria-haspopup="true" aria-expanded="false" href="/category/zero-waste.html">Zero Waste</a>
          <ul class="menu__submenu">
            <li class="menu__item" aria-labelledby="menu__link-1-1">
              <a id="menu__link-1-1" class="menu__link" href="/category/muellfreies-badezimmer.html">Müllfreies Badezimmer</a>
            </li>
            <li class="menu__item" aria-labelledby="menu__link-1-2">
              <a id="menu__link-1-2" class="menu__link" href="/category/zero-waste-kosten.html">Was kostet Zero Waste?</a>
            </li>
            <li class="menu__item" aria-labelledby="menu__link-1-3">
              <a id="menu__link-1-3" class="menu__link" href="/category/diy.html">DIY</a>
            </li>
            <li class="menu__item" aria-labelledby="menu__link-1-3">
              <a id="menu__link-1-3" class="menu__link" href="/category/rohstoffe-und-recycling.html">Rohstoffe und Recycling</a>
            </li>
          </ul>
        </li>
        <li class="menu__item" aria-labelledby="menu__link-2">
          <a id="menu__link-2" class="menu__link" href="/category/minimalismus.html">Minimalismus</a>
        </li>
        <li class="menu__item" aria-labelledby="menu__link-3">
          <a id="menu__link-3" class="menu__link" href="/category/sustainable-fashion.html">Sustainable Fashion</a>
        </li>
        <li class="menu__item" aria-labelledby="menu__link-4">
          <a id="menu__link-4" class="menu__link" href="/category/klima.html">Klima</a>
        </li>
        <li class="menu__item" aria-labelledby="menu__link-5">
          <a id="menu__link-5" class="menu__link" href="/pages/faq">FAQ</a>
        </li>
        <!-- search -->
        <li class="menu__item" aria-labelledby="menu__link-6">
          <a id="menu__link-6" class="menu__link menu__link--search" href="/pages/search" title="zur Suche">
            <span class="link__icon fas fa-search"></span>
            <span class="link__text">Suche</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
