<header class="header">
  <div class="container">

    <!-- branding aka title of page and logo -->
    <div class="branding">
      <a href="{{ site.url }}" title="zur Startseite">
        {% if page.layout == 'home' %}
          <h1 class="branding__title">{{ site.title }} - {{ site.subtitle }}</h1>
        {% endif %}
        <img class="branding__logo branding__logo--large" src="/assets/logos/logo.png" alt="{{ site.title }} - {{ site.subtitle }}" width="300px" />
        <img class="branding__logo branding__logo--small" src="/assets/logos/logo-mobile.jpg" alt="{{ site.title }} - {{ site.subtitle }}" width="100px" />
      </a>
    </div>

    <!-- primary navigation -->
    <nav class="navigation">
      <!-- menu -->
      <a class="nav__link nav__link--menu fas fa-bars" href="#" alt="" title="öffnen oder Schließen des Menüs" aria-label="Menü Button" aria-expanded="false" onclick="menuLinkClicked()"></a>
      <ul class="menu menu--main menu--hidden">
        <li class="menu__item" aria-labelledby="menu__link-1">
          <a id="menu__link-1" class="menu__link" href="/category/zero-waste.html" title="alle Posts zum Thema Zero Waste">Zero Waste</a>
        </li>
        <li class="menu__item" aria-labelledby="menu__link-2">
          <a id="menu__link-2" class="menu__link" href="/category/minimalismus.html" title="alle Posts zum Thema Minimalismus">Minimalismus</a>
        </li>
        <li class="menu__item" aria-labelledby="menu__link-3">
          <a id="menu__link-3" class="menu__link" href="/category/sustainable-fashion.html" title="alle Posts zum Thema Sustainable Fashion">Sustainable Fashion</a>
        </li>
        <li class="menu__item" aria-labelledby="menu__link-4">
          <a id="menu__link-4" class="menu__link" href="/category/diy.html" title="alle Posts zum Thema DIY und Selbermachen">DIY</a>
        </li>
        <li class="menu__item" aria-labelledby="menu__link-5">
          <a id="menu__link-5" class="menu__link" href="/category/emissionen.html" title="alle Posts zum Thema Emissionen und Klimaschutz">Emissionen</a>
        </li>
        <!-- search -->
        <li class="menu__item" aria-labelledby="menu__link-6">
          <a id="menu__link-6" class="menu__link menu__link--search" href="/pages/search.html" title="zur Suche">
            <span class="link__icon fas fa-search"></span>
            <span class="link__text">Suche</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
