<header class="header">
  <div class="container">

    <!-- branding aka title of page and logo -->
    <div class="branding">
      <a href="{{ site.url }}" title="zur Startseite">
        {% if page.layout == 'home' %}
          <h1 class="branding-title">{{ site.title }} - {{ site.subtitle }}</h1>
        {% endif %}
        <img class="branding-logo branding-logo--large" src="/assets/logos/logo.png" alt="{{ site.title }} - {{ site.subtitle }}" width="300px" />
        <img class="branding-logo branding-logo--small" src="/assets/logos/logo-mobile.jpg" alt="{{ site.title }} - {{ site.subtitle }}" width="100px" />
      </a>
    </div>

    <!-- primary navigation -->
    <nav class="navigation">
      <!-- menu -->
      <a class="nav-link nav-link--menu fas fa-bars" href="#" title="öffnen oder Schließen des Menüs" aria-label="Menü Button" aria-expanded="false" onclick="menuLinkClicked()"></a>
      <ul class="menu menu--main menu--hidden">
        <li class="menu-item" aria-labelledby="menu-link-1">
          <a id="menu-link-1" class="menu-link" href="/pages/zero-waste.html">Zero Waste</a>
        </li>
        <li class="menu-item" aria-labelledby="menu-link-2">
          <a id="menu-link-2" class="menu-link" href="/pages/minimalismus.html">Minimalismus</a>
        </li>
        <li class="menu-item" aria-labelledby="menu-link-3">
          <a id="menu-link-3" class="menu-link" href="/pages/sustainable-fashion.html">Sustainable Fashion</a>
        </li>
        <li class="menu-item" aria-labelledby="menu-link-4">
          <a id="menu-link-4" class="menu-link" href="/pages/diy.html">DIY</a>
        </li>
        <li class="menu-item" aria-labelledby="menu-link-5">
          <a id="menu-link-5" class="menu-link" href="/pages/emissionen.html">Emissionen</a>
        </li>
        <!-- search -->
        <li class="menu-item" aria-labelledby="menu-link-6">
          <a id="menu-link-6" class="menu-link menu-link--search" href="/pages/search.html" title="zur Suche">
            <span class="link-icon fas fa-search"></span>
            <span class="link-text">Suche</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
