<section class="home lead-magnet">
  <div class="lead-magnet__container container">
    <img class="lead-magnet__image" src="/assets/content/newsletter.jpg" alt="MinimalWaste Newsletter" />
    <div class="lead-magnet__content">
      <h3 class="lead-magnet__title">Melde dich jetzt für den Newsletter an</h3>
      <p class="lead-magnet__description">Abonniere den Newsletter und erhalte Infos zu Updates und neuen Beiträgen. Kein Spam. Versprochen.</p>
      <a class="lead-magnet__link" role="button">anmelden</a>
    </div>
  </div>
</section>
