<section class="home category">
{% for post in site.categories[include.content] limit:3 %}
  <article class="post post--category" aria-label="{{ post.title }}">
    <a class="post__link" href="{{ post.url }}" title="zum Post {{ post.title }}">
      <img class="post__cover" src="{{ post.image }}" alt="{{ post.title }}" width="960" height="640" />
    </a>
    <div class="post__text">
      <h2 class="post__title">
        <a href="{{ post.url }}" title="zum Post {{ post.title }}">{{ post.title }}</a>
      </h2>
      <p class="post__subtitle">{{ post.subtitle }}</p>
      <div class="post__meta">
        <span>veröffentlicht am {{ post.date | date: "%d.%m.%Y" }}</span>
        <span>von <a class="post__link" href="{{ site[post.author].more-page }}">{{ site[post.author].name }}</a></span>
      </div>
    </div>
  </article>
{% endfor %}
</section>
