<section class="newest-posts grid home">

  <!-- 2x2 grid cell for zero waste -->
  {% include grid-cell.html id="1" size="22" post-uid="0064" %}

  <!-- 1x1 grid cell for diy -->
  {% include grid-cell.html id="2" size="11" post-uid="0060" %}

  <!-- 1x1 grid cell for zero waste -->
  {% include grid-cell.html id="3" size="11" post-uid="0013" %}

  <!-- 1x1 grid cell for zero waste -->
  {% include grid-cell.html id="4" size="11" post-uid="0040" %}

  <!-- 1x1 grid cell for recycling -->
  {% include grid-cell.html id="5" size="11" post-uid="0056" %}



  <!-- 1x1 grid cell for sustainable fashion -->
  {% include grid-cell.html id="6" size="11" post-uid="0042" %}

  <!-- 2x1 grid cell for quote -->
  <div class="newest-posts__quote newest-posts__cell newest-posts__cell--7 grid__cell grid__cell--21">
    <blockquote class="quote">
      <p class="quote__text">Ich kann freilich nicht sagen, ob es besser wird, wenn es anders wird; aber es muss anders werde, wenn es gut werden soll.</p>
      <span class="quote__from">Georg Christoph Lichtenberg</span>
    </blockquote>
  </div>

  <!-- 1x1 grid cell for minimalism -->
  {% include grid-cell.html id="8" size="11" post-uid="0051" %}



  <!-- 1x2 grid cell for climat -->
  {% include grid-cell.html id="9" size="12" post-uid="0063" %}

  <!-- 1x1 grid cell for zero waste -->
  {% include grid-cell.html id="10" size="11" post-uid="0062" %}

  <!-- 2x2 grid cell for zero waste bathroom -->
  {% include grid-cell.html id="11" size="22" post-uid="0026" %}

  <!-- 1x1 grid cell for minimalism -->
  {% include grid-cell.html id="12" size="11" post-uid="0059" %}

</section>
