<section class="home latest-post">
  {% assign post = site.posts.first %}
  <article class="post" aria-label="{{ post.title }}">
    <a class="post__link" href="{{ post.url }}" title="zum Post {{ post.title }}">
      <picture>
        <source srcset="{{ post.image | remove: '.jpg' }}-mobile.jpg" media="(max-width: 540px)">
        <img class="post__cover" src="{{ post.image }}" alt="{{ post.title }}" />
      </picture>
    </a>
    <div class="post__text">
      <h2 class="post__title">
        <a href="{{ post.url }}" title="zum Post {{ post.title }}">{{ post.title }}</a>
      </h2>
      <p class="post__subtitle">{{ post.subtitle }}</p>
      <p class="post__excerpt">{{ post.excerpt | strip_html }}</p>
      <div class="post__meta">
        <span>veröffentlicht am <time datetime="{{ post.date }}">{{ post.date | date: "%d.%m.%Y" }}</time></span>
        <span>von <a class="post__link" href="{{ site[post.author].more-page }}" title="mehr über {{ site[post.author].name }}">{{ site[post.author].name }}</a></span>
        <span>in
          <a class="post__link" href="/category/{{ post.categories.first | downcase | replace: ' ', '-' }}.html" title="zur Kategorie">{{ post.categories.first }}</a>
          {% for category in post.categories offset:1 %}
            , <a class="post__link" href="/category/{{ category | downcase | replace: ' ', '-' }}.html" title="zur Kategorie">{{ category }}</a>
          {% endfor %}
        </span>
      </div>
    </div>
  </article>
</section>
