<section class="home lead-magnet">
  <div class="lead-magnet__container container">
    <img class="lead-magnet__image" src="/assets/content/newsletter.jpg" alt="MinimalWaste Newsletter" />
    <div class="lead-magnet__content">
      <h3 class="lead-magnet__title">Abonniere den Newsletter</h3>
      <p class="lead-magnet__description">Bleibe auf dem Laufenden und erhalte Infos zu Updates und neuen Beiträgen.</p>
      <a class="lead-magnet__link" role="button">anmelden</a>
    </div>
  </div>
</section>
