<section class="lead-magnet">
  <div class="lead-magnet__container container">
    <img class="lead-magnet__image" src="/assets/content/das-nachhaltigkeits-101.jpg" alt="Das Nachhaltigkeits 101" title="Das Nachhaltigkeits 101" />
    <div class="lead-magnet__content">
      <h2 class="lead-magnet__title">Hol dir den Nachhaltigkeits Guide</h2>
      <p class="lead-magnet__description">Erfahre auf 15 Seiten alles darüber, wie du wirklich was für die Umwelt tun kannst.</p>
      <a class="lead-magnet__link" role="button"  href="/pages/newsletter">runterladen</a>
    </div>
  </div>
</section>
