<section class="patreon-banner" aria-labelledby="patreon-banner-title">
  <h2 class="patreon-banner__title visually-hidden" id="patreon-banner-title">Neues auf Patreon</h2>
  <div class="patreon-banner__content container">
    <div class="patreon-link">
      <img class="patreon-link__image" src="/assets/icons/patreon-text.png" alt="" width="450" height="183" />
      <p class="patreon-link__text">
        Entdecke zusätzliche Beiträge und Downloads. Nimm an Umfragen teil und gestalte MinimalWaste aktiv mit. 
        <a class="patreon-link__link" href="//www.patreon.com/minimalwaste?fan_landing=true" target="_blank" rel="nofollow noreferrer">Zur Patreon-Seite.</a>
      </p>
    </div>
  </div>
</section>
