<section class="patreon content" aria-labelledby="patreon-title">
  <a class="patreon-link" href="{{ site.patreon-link }}" title="Zur Patreon-Seite von MinimalWaste">
    <img class="patreon-logo" src="/assets/logos/Patreon_Mark_NoBackground.png" alt="Patreon-Logo" title="Patreon-Logo" />
    <div class="patreon-content">
      <h3 id="patreon-title" class="patreon-title">Ünterstütze MinimalWaste auf Patreon</h3>
      <p class="patreon-description">Erhalten Zugang zu zusätzlichem Content und profitiere vom Early Access.</p>
    </div>
  </a>
</section>
