<section class="sharing content" aria-labelledby="sharing__title">
  <h3 id="sharing__title" class="sharing__title">Teile diesen Post:</h3>
  <a class="sharing__icon fab fa-facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" alt="" title="teile diesen Post auf Facebook"></a>
  <a class="sharing__icon fab fa-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter-username }}&related={{ site.twitter-username }}" rel="nofollow" alt="" title="tweete diesen Post"></a>
  <a class="sharing__icon fab fa-pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{ page.title }}" rel="nofollow" alt="" title="pinne diesen Post an eine Pinnwand"></a>
</section>
