.category {
  
  &__description {
    @include breakpoint(small) {
      margin-bottom: 0.5*$margin-base;
    }
  }

  &__posts {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$padding-base;
    margin-right: -$padding-base;
    text-align: center;

    .post {
      flex-basis: 33.3333%;
      flex-grow: 1;
      min-width: 300px;
      padding: $padding-base;

      &__cover {
        margin: 0;
      }

      &__title {
        font-size: 1.5*$font-size-base;
      }

      &__subtitle {
        font-size: 1.2*$font-size-base;
      }

      &__meta > span {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
