$newsletter-margin: 0.5*$margin-base;

.mailchimp-form {
  display: flex;
  flex-direction: column;

  &__required {
    font-size: $font-size-base;
    color: $neutral-500;
  }

  &__asterisk {
    color: $primary-500;
  }

  &__label {
    font-weight: 700;
  }

  &__headline {
    font-size: 1.5*$font-size-base;
  }

  &__group {
    margin-bottom: $newsletter-margin;

    &--checkbox {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: $newsletter-margin;
    }
  }

  &__input {
    margin-bottom: $newsletter-margin;
  }

  &__button {
    align-self: flex-end;
  }

  &__text {
    font-size: $font-size-base;
    margin-bottom: $newsletter-margin;
  }
}
