.container {
  max-width: 1200px;
  padding-left: $padding-base;
  padding-right: $padding-base;
  margin-left: auto;
  margin-right: auto;

  &--main {
    margin-top: $margin-to-content;
    margin-bottom: $margin-to-content;
    @include breakpoint(small) {
      margin-top: 0.5*$margin-to-content;
      margin-bottom: 0.5*$margin-to-content;
    }
  }
}

.content {
  max-width: $max-width-content;
  margin: 0 auto $margin-between-content auto;
}
