.related-posts {
  margin: 2*$margin-base 0;
  text-align: center;

  &__title {
    font-size: 1.6*$font-size-base;
    margin-bottom: $margin-base;
  }

  &__posts {
    overflow-x: scroll;
  }

  .post {
    width: 247px;
    height: 300px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    @include transition(all);
    @include attention() {
      opacity: 0.7;
    }
    @include breakpoint(small) {
      width: 200px;
    }

    &__link {
      display: block;
      height: 100%;
      box-shadow: none;
      display: flex;
    }

    &__title {
      width: 100%;
      padding: 2*$padding-base $padding-base;
      margin: 0;
      font-size: 1.2*$font-size-base;
      font-weight: normal;
      background: linear-gradient(to top, rgba(0,0,0, 0.8) 0%,rgba(0,0,0,0) 100%);
      color: $second-color-lighter;
      align-self: flex-end;
      @include breakpoint(small) {
        font-size: $font-size-base;
      }
    }
  }
}
