.menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @include breakpoint(mobile) {
    background-color: $neutral-500;
    flex-direction: column;
    left: 0;
    position: fixed;
    right: 0;
    top: $height-mobile-header + 2;
  }
  @include breakpoint(desktop) {
    height: 100%;
  }

  &--hidden {
    @include breakpoint(mobile) {

      .menu__item {

        &:not(.menu__item--home) {
          display: none;
        }
      }
    }
  }
}
