.cookie-notice {
  max-width: 175px;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  margin: $margin-base;
  padding: 0.75*$padding-base;
  background-color: $second-color-lighter;
  @include box-shadow-buttons-menu;

  &--hidden {
    display: none;
  }

  &--visible {
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5*$margin-base;
    font-size: $font-size-base;
    @include latoFont;
    text-align: center;
  }
}
