.featured-posts {
  margin-bottom: 5.5rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.25rem;
  }

  &__list-item {
    flex: 1 1 375px;
    margin: 0 1.25rem 2rem;
    @include breakpoint(mobile) {
      margin-bottom: 3rem;
    }

    &:first-of-type {
      flex-basis: 100%;
      margin-bottom: 3rem;
    }
  }
}
