$background-color-header-menu: $color-light-light-base;
$color-header-menu: $color-medium-base;

.header .navigation {
  display: flex;

  a {
    color: inherit;
  }

  .nav-link-menu,
  .nav-link-search {
    margin: 0 0.5*$margin-base;
    font-size: 1.5*$font-size-base;
  }
}

.menu--main {
  display: none;
  position: absolute;
  top: $height-header;
  left: 0;
  right: 0;
  border-top: 1px solid $color-light-light-base;
  border-bottom: 1px solid $color-light-light-base;
  color: $color-header-menu;
  background-color: $background-color-header-menu;
  text-align: center;
  @include latoFont;
  @include breakpoint(small) {
    top: $height-mobile-header;
  }

  .menu-item {
    border-bottom: 1px solid $color-light-base;
    color: inherit;
    @include attention() {
      background-color: $color-background;
    }
    @include transition(background-color);

    &:last-of-type {
      border-bottom: none;
    }

    .menu-link {
      display: block;
      padding: $padding-base 0;
      @include transition(color);

      &:hover {
        color: $color-dark-base;
      }
    }
  }
}
