.post__header {
  height: 650px;
  margin: 0 auto 7.5rem;
  max-width: $max-width-without-padding;
  padding-top: 285px;
  position: relative;
  @include breakpoint(mobile) {
    height: 422px;
    margin-bottom: 3rem;
    max-width: $max-width;
    padding: 100px 1.25rem 62px;
  }

  &-text {
    bottom: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
  }

  .title {
    margin: 0 3rem 0 0;
    order: 2;
    @include breakpoint(mobile) {
      margin-right: 0;
    }
  }

  .cover {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 750px;
    z-index: -1;
    @include breakpoint(mobile) {
      height: 360px;
      width: 100%;
    }
  }

  .meta {
    bottom: 35px;
    margin-left: 185px;
    position: absolute;
    @include breakpoint(mobile) {
      bottom: 0;
      margin-left: 0;
    }
  }
}
