.newsletter {
  background-color: $primary-300;
  padding: 3rem 0;
  @include breakpoint(mobile) {
    padding: 2rem 0;
  }

  &__headline {
    margin-top: 0;
  }

  &__headline,
  &__subheadline {
    text-align: center;
  }

  &__link {
    background-image: linear-gradient($neutral-800, $neutral-800);
    background-position: 50% 1.1em;
    background-repeat: no-repeat;
    background-size: 100% 1px;
  }

  &__form {
    @include breakpoint(desktop) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-label {
      @include breakpoint(desktop) {
        width: 100%;
      }
    }

    &-input {
      @include breakpoint(desktop) {
        width: 951px;
      }
    }

    &-text {
      @include breakpoint(desktop) {
        order: 3;
        width: 100%;
      }
    }

    &-button {
      @include breakpoint(desktop) {
        width: 223px;
      }
    }
  }
}
