$author-image-size: 64px;
$author-image-size-mobile: 44px;

.meta {
  align-items: center;
  display: flex;
  max-width: 250px;

  &::before,
  &::after {
    content: '';
    height: $author-image-size - 4px;
    position: absolute;
    width: $author-image-size - 4px;
    @include breakpoint(mobile) {
      height: $author-image-size-mobile - 4px;
      width: $author-image-size-mobile - 4px;
    }
  }

  &::before {
    background: url('/assets/icons/ellipse-top-left.svg') top left no-repeat;
    left: -3px;
    top: -2px;
    @include breakpoint(mobile) {
      background-size: 25px;
    }
  }

  &::after {
    background: url('/assets/icons/ellipse-down-right.svg') right bottom no-repeat;
    left: 6px;
    top: 6px;
    @include breakpoint(mobile) {
      background-size: 25px;
    }
  }

  &__author-image {
    border-radius: 50%;
    height: $author-image-size;
    margin: 0 1.125rem 0 0;
    padding: 2px;
    width: $author-image-size;
    @include breakpoint(mobile) {
      height: $author-image-size-mobile;
      width: $author-image-size-mobile;
    }
  }

  &__text {
    @extend %info-text;
    margin-bottom: 0;
  }
}
