$width-author-image: 125px;
$height-author-image: $width-author-image;
$width-mobile-author-image: 100px;
$height-mobile-author-image: $width-mobile-author-image;

.author {
  display: flex;
  @include breakpoint(small) {
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: $width-author-image;
    height: $height-author-image;
    margin-bottom: 0;
    border-radius: 50%;
    @include breakpoint(small) {
      margin-bottom: 0.5*$margin-base;
    }
    @include breakpoint(small) {
      width: $width-mobile-author-image;
      height: $height-mobile-author-image
    }
  }

  &__content {
    margin-left: $margin-base;
    @include breakpoint(small) {
      margin-left: 0;
      text-align: center;
    }
  }

  &__name {
    margin-top: 0;
  }

  &__bio {
    margin-bottom: 0;
    font-size: $font-size-base;
  }

  &__link {
    border-bottom: $link-decoration;
  }
}
