.patreon-shout-out {
  background-color: $patreon-400;
  margin: 10rem 0;
  padding: 6rem 0;
  text-align: center;
  @include breakpoint(mobile) {
    margin: 6rem 0;
    padding: 3rem 0;
  }

  &__headline {
    margin-top: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0;
  }
}
