.post {

  &__body {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: $max-width-without-padding;
  }

  &__subtitle {
    font-weight: 600;
  }

  &__content {
    margin: 0 2.75rem 10rem 1.75rem;
    max-width: 752px;
    padding: 0 1.25rem;
    @include breakpoint(mobile) {
      margin: 0 0 6rem;
    }

    a {
      @extend %link;
    }
  }
}
