.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-medium-light-base;
  padding: $padding-base;
  @include breakpoint(small) {
    flex-direction: column;
    align-items: flex-start;
  }
  @include breakpoint(xsmall) {
    text-align: center;
    align-items: center;
  }

  &__content {
    @include breakpoint(small) {
      margin-bottom: $margin-base;
    }
  }

  &__title {
    margin-top: 0;
  }

  &__description {
    margin-bottom: 0;
    font-size: $font-size-base;
  }

  &__button {
    margin-left: $margin-base;
    @include breakpoint(small) {
        margin-left: 0;
    }
  }
}
