$list-item-height: 150px;

.subcategories {
  margin-bottom: 6.25rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.625rem;
  }

  &__list-item {
    flex: 1 0 269px;
    height: $list-item-height;
    margin: 0 .625rem 1.25rem;
    padding-left: 0;
    position: relative;

    &::before {
      content: none;
    }
  }

  &__link-title {
    color: $neutral-100;
    height: $list-item-height;
    margin: 0;
    padding: 2rem;
    text-align: center;
    @include attention {
      color: $neutral-800;
    }
  }

  &__link {
    display: block;

    @include attention {

      .subcategories__cover {
        background-color: $primary-500;
      }
    }
  }

  &__cover {
    background-color: $primary-800;
    @include transition-custom(all, .2s, ease-in-out, 0s);
  }

  &__image {
    opacity: .3;
  }
}
