.lead-magnet {
  margin-top: 0.5*$margin-base;
  position: relative;
  background: url("/assets/content/muell.jpg");
  background-size: cover;
  -ms-transform: skewY(-1deg);
  -webkit-transform: skewY(-1deg);
  transform: skewY(-1deg);

  &::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: $color-green;
    opacity: 0.8;
  }

  &__container {
    display: flex;
    padding: 3*$padding-base 0;
    position: relative;
    z-index: 10;
    -ms-transform: skewY(1deg);
    -webkit-transform: skewY(1deg);
    transform: skewY(1deg);
  }

  &__image {
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-top: 0;
  }

  &__description {

  }
}
