.home {
  margin-bottom: 3*$margin-base;

  .post {

    &-cover {
      margin-top: 0;
    }

    &-meta {
      margin-bottom: 0.5*$margin-base;
    }

    &-excerpt {
      margin: 0;
    }

    &-teaser-text {
      padding: 0 2*$padding-base;
    }
  }
}
