$margin-for-border: 0.25rem;

.main {
  position: relative;
  margin-top: $margin-to-content;
  @include breakpoint(small) {
    margin: 0.5*$margin-to-content 0;
  }

  &--home,
  &--test {
    margin-top: 0;
  }

  &--center {
    text-align: center;
  }

  .container {
    max-width: 1000px;
  }
}
