$max-width-article-content: calc(700px + 2*1.25rem);

.post {

  &-header {
    margin-bottom: $margin-base;
  }

  &-body {
    max-width: 700px;
    margin: 0 auto 4*$margin-base auto;
  }

  &-cover {
    margin: $margin-base 0;
  }
}
