$post-content-width: 752px;
$post-content-width-mobile: 700px;

.post__content {
  margin-bottom: 6rem;
  max-width: $post-content-width;
  padding: 0 1.25rem;
  @include breakpoint(mobile) {
    max-width: $post-content-width-mobile;
  }

  a:not(.patreon):not(.download) {
    @extend %link;

    &[href^='http']::after {
      background: url('/assets/icons/external-link.svg') top center / cover no-repeat;
      content: '(externer Link)';
      display: inline-block;
      height: 1.3em;
      overflow: hidden;
      position: relative;
      text-indent: 1.3em;
      top: 6px;
      white-space: nowrap;
      width: 1.3em;
    }
  }
}
