$cover-height-desktop: 400px;
$cover-height-mobile: 300px;

.post--medium {
  align-items: center;
  display: flex;
  @include breakpoint(mobile) {
    align-items: flex-start;
    flex-direction: column;
  }

  .post__text {
    order: 2;
    padding-left: 1.125rem;
    @include breakpoint(mobile) {
      padding-left: 0;
    }
  }

  .post__title {
    margin: 0 0 .75rem;
    @include breakpoint(desktop) {
      font-size: 3.5rem;
    }
    @include breakpoint(mobile) {
      margin: .75rem 0 0;
    }
  }

  .cover {
    flex: 0 0 $cover-height-desktop;
    height: $cover-height-desktop;
    @include breakpoint(mobile) {
      flex: 0 0 $cover-height-mobile;
      height: $cover-height-mobile;
    }
  }
}
