.search-page {

  &-input {
    //border: none;
    width: 100%;
    @include main-font;
  }

  &-results {

    .post__title a {
      border-bottom: none;
    }
  }

  &-no-results {
    margin: 0 $padding-base;
  }
}
