.category {

  &__description {
    @include breakpoint(small) {
      margin-bottom: 0.5*$margin-base;
    }
  }

  &__posts {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.75*$padding-base;
    margin-right: -0.75*$padding-base;

    .post {
      flex-basis: 30%;
      flex-grow: 1;
      min-width: 280px;
      padding: 1.5*$padding-base 0.75*$padding-base;

      > .post__link {
        border-bottom: none;
      }

      &__cover {
        margin: 0;
      }

      &__text {
        padding: 0 0.5*$padding-base;
      }

      &__title {
        font-size: 1.4*$font-size-base;
        margin-right: 0;
      }

      &__subtitle {
        margin-bottom: 0.5*$margin-base;
        font-size: $font-size-base;
      }

      &__meta {
        font-size: 0.8*$font-size-base;
      }
    }
  }
}
