.branding {
  height: 100%;

  &-title {
    display: none;
  }

  &-logo {
    height: 100%;
    width: auto;
    margin-bottom: 0;
  }

  &-logo--large {
    @include breakpoint(small) {
      display: none;
    }
  }

  &-logo--small {
    @include breakpoint(mediumAndLarge) {
      display: none;
    }
  }
}
