$author-page-image-size: 250px;

.page--author {
  display: flex;
  flex-wrap: wrap;

  .page__image {
    max-width: $author-page-image-size;
    max-height: $author-page-image-size;
    margin-bottom: 0;
    margin: 0 2*$margin-base $margin-base 0;
    @include breakpoint(small) {
      margin-right: 0;
    }
  }

  .page__content {
      flex-basis: 400px;
      flex-grow: 1;
  }

  .page__title {
    margin-top: 0;
  }
}
