.cookie-notice {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: $margin-base;
  padding: 0.75*$padding-base;
  background-color: $color-light-base;
  border: 1px solid $color-medium-light-base;

  &--hidden {
    display: none;
  }

  &--visible {
    display: flex;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: $margin-base;
    font-size: $font-size-base;
    @include latoFont;
  }

  &-morelink {
    border-bottom: $link-decoration;
  }
}
