.footer {
  color: $color-dark-base;

  .container {
    padding-top: 2*$padding-base;
    padding-bottom: 2*$padding-base;
    text-align: center;
    overflow: hidden;
  }

  * {
    color: inherit;
  }

  &::before {
    @include greenBorderHeaderFooter(bottom);
  }
}
