.navigation {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;

  &__burger {
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    @include attention {
      background-color: transparent;
    }
    @include breakpoint(desktop) {
      display: none;
    }
  }

  &__search {
    @include breakpoint(mobile) {
      position: absolute;
      right: 36px;
    }
  }
}
