.post {
  overflow-x: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-base;
  }

  &__title {
    order: 2;
    margin-right: $margin-base;
    @include breakpoint(smallAndUp) {
      margin-right: 4*$margin-base;
    }

    > a {
      box-shadow: none;
    }
  }

  &__subtitle {
    order: 3;
    color: $second-color;
    @include latoFont();
    font-size: 1.5*$font-size-base;
    line-height: 1.2;
    @include breakpoint(small) {
      font-size: 1.3*$font-size-base;
    }
  }

  &__meta {
    order: 1;
    font-size: $font-size-base;
    @include latoFont;
    @include attention() {
      color: unset;
    }
    @include breakpoint(small) {
      font-size: 0.8*$font-size-base;
    }
  }

  &__cover {
    order: 4;
    display: block;
    max-height: 773px; //ie bug with picture and flexbox
  }

  &__body {
    position: relative;

    > p:first-of-type {

      &::first-letter {
        font-size: 3.2*$font-size-text;
        line-height: 0.85;
        float: left;
        margin-right: 0.25*$margin-base;
        @include breakpoint(small) {
          font-size: 2.8*$font-size-text;
        }
      }
    }
  }

  &__affiliate-hint {
    @include latoFont;
    font-size: $font-size-base;
    font-style: italic;
  }
}
