.bottom {
  background-color: $neutral-500;
  padding: 3rem 0;
  @include breakpoint(mobile) {
    padding: 2rem 0;
  }

  .container {
    color: $neutral-100;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    @include breakpoint(mobile) {
      justify-content: space-evenly;
    }
  }

  &__menu {
    background-image: linear-gradient($neutral-100, $neutral-100);
    background-position: 50% 1.5em;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    text-transform: lowercase;
    @include transition-custom(background-size, .2s, ease-in, 0s);
    @include attention {
      background-size: 100% 1px;
    }
  }
}
