$margin-for-border: 0.25rem;

.main {
  position: relative;
  margin: $margin-to-content 0;
  @include breakpoint(small) {
    margin: 0.5*$margin-to-content 0;
  }

  &--home {
    margin-top: 0;
  }

  &--404 {
    text-align: center;
  }

  .container {
    max-width: 1000px;
  }
}
