.bottom {
  background-color: $neutral-500;
  padding: 3rem 0;
  @include breakpoint(mobile) {
    padding: 2rem 0;
  }

  .container {
    color: $neutral-100;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    @include breakpoint(mobile) {
      justify-content: space-evenly;
    }
  }

  &__menu {
    @extend %menu-text;
    @extend %menu-link;
    background-image: linear-gradient($neutral-100, $neutral-100);
  }
}
