.related-posts {

  &__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .post {
    margin-bottom: 3rem;
    max-width: 300px;
    @include breakpoint(mobile) {
      margin: 0 1.25rem 3rem;
    }
  }

  .cover {
    height: 300px;
  }

  .categories {
    text-align: left;
  }

  hr {
    margin: 0;
    width: 60px;
  }

  .title {
    @extend h4;
    margin-top: 0;
    text-align: left;
  }
}
