.lead-magnet {
  margin-top: 0.5*$margin-base;
  position: relative;
  background: url("/assets/content/header.jpg");
  background-size: auto;
  @include skew(-1deg);

  &::before {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: $color-green;
    opacity: 0.8;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3*$padding-base $padding-base;
    position: relative;
    z-index: 10;
    @include skew(1deg);
  }

  &__image {
    margin-right: 2*$margin-base;
    margin-bottom: 0;
    width: 150px;
    @include rotate(-5deg);
    @include breakpoint(largeAndUp) {
      width: 220px;
    }
    @include breakpoint(small) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 391px;
  }

  &__title {
    margin-top: 0;
  }

  &__description {

  }
}
