$height-header: 120px;
$height-mobile-header: 80px;

.header {
  //border-bottom: $border;
  background-color: $color-background;
  @include transition(margin-bottom);

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height-header;
    padding-top: 0.7*$padding-base;
    padding-bottom: 0.7*$padding-base;
    @include breakpoint(small) {
      height: $height-mobile-header;
    }
  }

  &::after {
    @include greenBorderHeaderFooter(top);
  }
}
