.mailchimp-form {
  display: flex;
  flex-direction: column;

  &__required {
    font-size: $font-size-base;
    color: $second-color;
  }

  &__asterisk {
    color: $main-color-dark;
  }

  &__label {
    font-weight: 700;
  }

  &__headline {
    font-size: 2rem;
    margin-top: 0.5rem;
  }

  &__group {

    &--checkbox {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: $margin-base;
    }
  }

  &__button {
    align-self: flex-end;
  }
}
