.gallery {
  overflow: hidden;

  &__image-container {
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    @include breakpoint(medium) {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    @include breakpoint(small) {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }

  &__image {
    margin-bottom: 0;

    &:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    &:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }
    &:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    &:nth-child(4) {
      -ms-grid-row: 1;
      -ms-grid-column: 4;
    }
    &:nth-child(5) {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
    }
    &:nth-child(6) {
      -ms-grid-row: 1;
      -ms-grid-column: 6;
    }
    @include breakpoint(medium) {
      &:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
      }
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
      }
      &:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
      }
      &:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }
      &:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
      }
      &:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
      }
    }
    @include breakpoint(small) {
      &:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
      }
      &:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
      }
      &:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
      }
      &:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }
      &:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
      }
      &:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
      }
    }
  }
}
