.branding {
  height: 100%;

  &__title {
    display: none;
  }

  &__logo {
    height: 100%;
    width: auto;
    margin-bottom: 0;

    &--large {
      @include breakpoint(small) {
        display: none;
      }
    }

    &--small {
      @include breakpoint(mediumAndLarge) {
        display: none;
      }
    }
  }
}
