.site {

  &--post,
  &--pagelinks {
    @include breakpoint(mobile) {
      margin-bottom: $height-header-mobile;
    }
  }

  &--pagelinks {
    margin: 0 auto $height-header-mobile;
    max-width: 400px;

    .main {
      margin-top: 0;
    }
  }
}
