.patreon-link {
  border: 10px solid $patreon-300;
  padding: 1.5rem 2rem;
  position: relative;

  &__image {
    flex: 1 1 250px;
    margin: 0;
    max-width: 400px;
  }

  &__text {
    flex: 1 1 250px;
    margin: 0;
  }

  &__link {
    @extend %link;

    &::before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}
