$height-header: 80px;
$height-header-mobile: 60px;
$height-border: 4px;
$height-border-mobile: 2px;

.header {
  background-color: $neutral-100;
  border-top: $height-border solid $primary-300;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  @include breakpoint(mobile) {
    border-top: $height-border-mobile solid $primary-300;
  }

  > .container {
    align-items: center;
    display: flex;
    height: $height-header;
    justify-content: space-between;
    @include breakpoint(mobile) {
      height: $height-header-mobile;
    }
  }
}
