$width-patreon-image: 52px;
$height-patreon-image: 52px;
$patreon-color: #e85b46;

.patreon {
  color: $color-light-base;

  * {
    color: inherit;
  }

  &__link {
    display: flex;
    padding: $padding-base;
    background-color: $patreon-color;
    @include transition(transform);
    @include attention() {
      color: $color-light-base;
      transform: scale(1.05);
    }
    @include breakpoint(small) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__logo {
    width: $width-patreon-image;
    height: $height-patreon-image;
    margin-bottom: 0;
    @include breakpoint(small) {
      width: $width-patreon-image;
      height: $height-patreon-image;
      margin-bottom: 0.5*$margin-base;
    }
  }

  &__content {
    margin-left: $margin-base;
    @include breakpoint(small) {
      margin-left: 0;
    }
  }

  &__title {
    margin-top: 0
  }

  &__description {
    margin-bottom: 0;
    font-size: $font-size-base;
  }
}
