$image-height: 650px;
$image-width: 750px;
$image-height-mobile: 360px;

.post {

  &__header {
    height: $image-height;
    margin: 0 auto 7.5rem;
    max-width: 1196px;
    padding-top: 285px;
    position: relative;
    @include breakpoint(mobile) {
      height: 422px;
      margin-bottom: 3rem;
      padding: 142px 1.25rem 62px;
    }

    &::after {
      background-color: rgba($primary-200, .6);
      content: '';
      height: $image-height;
      position: absolute;
      right: 0;
      top: 0;
      width: $image-width;
      z-index: -1;
      @include breakpoint(mobile) {
        background-color: rgba($primary-200, .8);
        height: $image-height-mobile;
        width: 100%;
      }
    }
  }

  &__title {
    margin: 0 3rem 0 0;
    @include breakpoint(mobile) {
      margin-right: 0;
    }
  }

  &__category {
    @extend %menu-text;
    @extend %menu-link;
    background-position: 50% 1.1em;
  }

  &__cover {
    display: block;
    height: $image-height;
    margin-bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: $image-width;
    z-index: -1;
    @include breakpoint(mobile) {
      height: $image-height-mobile;
      object-fit: cover;
      width: 100%;
    }
  }

  &__body {
    max-width: 712px;
  }

  &__subtitle {
    font-weight: 600;
  }
}
