.post {

  &__header {
    margin-bottom: $margin-base;
  }

  &__subtitle {
    color: $color-subtext;
    font-size: 1.5*$font-size-base;
    @include breakpoint(small) {
      font-size: 1.3*$font-size-base;
    }
  }

  &__meta {
    font-size: $font-size-base;
    @include latoFont;
    @include attention() {
      color: unset;
    }
  }

  &__link {
    border-bottom: $link-decoration;
  }

  &__body {
    position: relative;

    > p:first-of-type {

      &::first-letter {
        font-size: 3.2*$font-size-text;
        line-height: 0.9;
        float: left;
        margin-right: 0.25*$margin-base;
        @include breakpoint(small) {
          font-size: 2.8*$font-size-text;
        }
      }
    }

    a {
      border-bottom: $link-decoration;
    }
  }

  &__cover {
    margin: $margin-base 0;
  }

  &__affiliate-hint {
    @include latoFont;
    font-size: $font-size-base;
    font-style: italic;
  }
}
