.header .navigation {

  .nav__link,
  .menu__link {
    color: inherit;
  }

  .nav__link {
    font-size: 1.75*$font-size-base;
    @include breakpoint(largeAndUp) {
      display: none;
    }
  }
}

.menu--main {
  display: none;
  position: absolute;
  top: $height-header + 11px;
  left: 0;
  right: 0;
  text-align: center;
  @include latoFont;

  &::after {
    @include greenBorder(bottom);
  }

  @include breakpoint(small) {
    top: $height-mobile-header + 11px;
  }
  @include breakpoint(largeAndUp) {
    display: flex;
    position: relative;
    border: none;
    background: none;
    top: 0;
    z-index: 20;

    &::after {
      display: none;
    }
  }

  .menu__submenu {
    -ms-transform: skewY(1deg);
    -webkit-transform: skewY(1deg);
    transform: skewY(1deg);
    @include breakpoint(largeAndUp) {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 70px;
      left: -75%;
      right: -75%;
      padding: 0.5*$padding-base $padding-base;
      border: $border;
      border-radius: $border-radius;
      background-color: $color-background;
      @include attention() {
        display: flex;
      }

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        border-top: $border;
        border-left: $border;
        background-color: $color-background;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: -11px;
      }
    }

    .menu__item {
      padding: 0.25*$padding-base 0;
      background-color: rgba($color-accent, 0.1);
      @include breakpoint(largeAndUp) {
        background-color: transparent;
      }

      &:first-of-type {
        border-top: 0.1rem solid $color-accent-light;
        @include breakpoint(largeAndUp) {
          border-top: none;
        }
      }
    }

    a.menu__link {
      font-size: $font-size-base;
      @include breakpoint(largeAndUp) {
        font-size: $font-size-text;
      }
    }
  }

  > .menu__item {
    @include breakpoint(largeAndUp) {
      padding: $padding-base 0;
    }
  }

  .menu__item {
    color: inherit;
    border-bottom: 0.1rem solid $color-accent-light;
    -ms-transform: skewY(-1deg);
    -webkit-transform: skewY(-1deg);
    transform: skewY(-1deg);
    @include attention() {
      .menu__submenu {
        display: flex;
      }
    }
    @include breakpoint(largeAndUp) {
      border-bottom: none;

      &:first-of-type {
        .menu__link {
          margin-left: 0;
        }
      }

      &:last-of-type {
        .menu__link {
          margin-right: 0;
        }
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    .menu__link {
      display: block;
      padding: 0.75*$padding-base 0;
      -ms-transform: skewY(1deg);
      -webkit-transform: skewY(1deg);
      transform: skewY(1deg);
      @include breakpoint(largeAndUp) {
        padding: 0;
        margin: 0 0.75*$padding-base;
        border-bottom: 2px solid $color-light-base;
        @include transition(border-color);
      }

      @include attention() {
        color: $color-dark-base;
        @include breakpoint(largeAndUp) {
          border-bottom: $link-decoration;
        }
      }

      &--search {
        @include breakpoint(largeAndUp) {
          border-bottom: none;
          margin-left: 0;
          @include attention() {
            border-bottom: none;
          }
        }

        .link__icon {
          margin-right: 0.25*$margin-base;
          @include breakpoint(largeAndUp) {
            padding: 0.5*$padding-base;
            margin-right: 0;
            border: 2px solid $color-light-base;
            @include transition(border-color);
            @include attention() {
              border: $link-decoration;
            }
          }
        }

        .link__text {
          @include breakpoint(largeAndUp) {
            display: none;
          }
        }
      }
    }
  }
}
