.sources {
  text-align: left;
  @include breakpoint(mobile) {
    display: inline-flex;
    flex-direction: column;
    padding: 0 1.25rem;
  }

  &__list {
    margin-bottom: 0;
    @include breakpoint(mobile) {
      margin: 0;
    }

    &__item {
      line-height: 1.5;
    }
  }

  &__link {
    @extend %menu-link;
    background-position: 50% 1.1em;
  }
}
