$image-size: 180px;

.gallery {
  overflow: hidden;

  &__image-container {
    display: flex;
    position: relative;
    left: -0.5*$image-size;
    //animation: gallery-animation 30s infinite;
    //@include animation(gallery-animation, 1s, 30s, ease-in-out, infinite);
  }

  &__image {
    min-width: $image-size;
    height: $image-size;
    padding: 7.5px;
    margin-bottom: 0;
  }
}

// @include keyframe(gallery-animation) {
//   0%, 100% {
//     left: 0;
//   }
//   10%, 90% {
//     left: -195px;
//   }
//   20%, 80% {
//     left: -390px;
//   }
//   30%, 70% {
//     left: -585px;
//   }
//   40%, 60% {
//     left: -780px;
//   }
//   50% {
//     left: -975px;
//   }
// }
