$subcategory-height: 150px;

.subcategories {
  margin-bottom: 6.25rem;
  @include breakpoint(mobile) {
    margin-bottom: 2.75rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.625rem;
  }
}

.subcategory {
  flex: 1 0 269px;
  height: $subcategory-height;
  margin: 0 .625rem 1.25rem;
  position: relative;

  &__title {
    color: $neutral-100;
    height: $subcategory-height;
    margin: 0;
    padding: 2rem;
    text-align: center;
  }

  &__link {
    display: block;
    @include attention {
      .subcategory__title {
        color: $neutral-800;
      }

      .subcategory__cover {
        background-color: $primary-400;
      }
    }
  }

  &__cover {
    background-color: $primary-800;
    @include transition-custom(all, .2s, ease-in-out, 0s);
  }
}
