.cookie-notice {
  width: 175px;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  margin: $margin-base;
  padding: 0.75*$padding-base;
  background-color: $neutral-100;
  @include box-shadow-buttons-menu;

  &--hidden {
    display: none;
  }

  &--visible {
    display: flex;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5*$margin-base;
    font-size: $font-size-base;
    @include main-font;
    text-align: center;

    > span {
      display: inline-block;
      width: 100%;
    }
  }
}
