.search {

  &__input-wrapper {
    position: absolute;
    right: 48px;

    &::after {
      border-bottom: 10px solid transparent;
      border-left: 10px solid $neutral-500;
      border-top: 10px solid transparent;
      content: '';
      display: inline-block;
      position: absolute;
      top: 10px;
    }

    &--hidden {
      display: none;
    }
  }

  &__input {
    background-color: $neutral-100;
    border: 2px solid $neutral-500;
    border-radius: 0;
    color: $neutral-400;
    height: 42px;
    margin-bottom: 0;
    padding: .55rem .75rem;
    width: 300px;
  }
}
