.newsletter-page {

  &__header {
    background-color: $primary-200;
    margin-bottom: 7.5rem;
    padding: 6rem 0;
    @include breakpoint(mobile) {
      margin-bottom: 3rem;
      padding: 3rem 0;
    }
  }

  &__body {

    .plug {
      margin-left: 0;

      &--desktop {
        max-width: $post-content-width;
        padding-left: 2rem;
      }
    }
  }

  &__content {
    max-width: $post-content-width;
    padding-left: 2rem;
    @include breakpoint(mobile) {
      overflow-wrap: break-word;
      padding-left: 0;
    }
  }

  a {
    @extend %link;
  }
}
