.newsletter-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 304px;
  margin: $margin-base;
  @include breakpoint(small) {
    margin: 0.5*$margin-base;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding: $padding-base;
    @include box-shadow-buttons-menu();
    background-color: $neutral-100;

    &--hidden {
      max-height: 55px;
      max-width: 55px;
      border-radius: 27px;
      animation: width-height-collapse 1s;
      @keyframes width-height-collapse {
        0% {
          max-height: 204px;
          max-width: 304px;
          border-radius: 0 0 0 27px;
        }
        50% {
          max-height: 55px;
          max-width: 304px;
          border-radius: 27px 0 0 27px;
        }
        100% {
          max-height: 55px;
          max-width: 55px;
          border-radius: 27px;
        }
      }

      * {
        opacity: 0;
        animation: makeHidden 0.1s;
        @keyframes makeHidden {
          0% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    &--visible {
      max-width: 304px;
      max-height: 204px;
      border-radius: 0 0 0 27px;
      animation: width-height-expand 1s;
      @keyframes width-height-expand {
        0% {
          max-height: 55px;
          max-width: 55px;
          border-radius: 27px;
        }
        50% {
          max-height: 55px;
          max-width: 304px;
          border-radius: 27px 0 0 27px;
        }
        100% {
          max-height: 204px;
          max-width: 304px;
          border-radius: 0 0 0 27px;
        }
      }

      * {
        opacity: 1;
        animation: makeVisible 1s;
        @keyframes makeVisible {
          0% {
            opacity: 0;
          }
          80% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }

  &__link {
    position: absolute;
    bottom: 0;
    width: 55px;
    height: 55px;
    padding: 0.5*$padding-base 0.75*$padding-base;
    border-radius: 50%;
    box-shadow: none;
    color: $neutral-900;
    background-color: $neutral-100;
    font-size: 1.5*$font-size-base;
    cursor: pointer;
    @include attention() {
      box-shadow: none;
    }
  }

  &__title {
    font-size: 1.5*$font-size-base;
  }

  &__text {
    font-size: $font-size-base;
  }

  &__button {
    align-self: flex-end;
  }

  a[role="button"].newsletter-popup__button {
    font-size: $font-size-base;
  }
}
