.category__header {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-bottom: 7.5rem;
  position: relative;
  @include breakpoint(mobile) {
    height: 320px;
    margin-bottom: 4rem;
  }

  &-title,
  &-description {
    margin: 0;
    max-width: $max-width;
  }

  &-description {
    padding-right: 504px;
    @include breakpoint(mobile) {
      padding-right: 0;
    }
  }
}
