.pagelinks__posts {

  &-list {
    margin: 0 0 2rem;
  }

  &-list-item {
    padding-left: 0;

    &::before {
      content: none;
    }
  }

  .post--small {
    align-items: center;
    flex-direction: row;
  }

  .post--small .cover {
    flex: 0 0 80px;
    height: 80px;
    margin-right: .75rem;
    width: 80px;
  }

  .post__categories {
    display: none;
  }

  .post__title {
    font-size: 1.25rem;
  }
}
