.pinterest-image {
  @include breakpoint(mobile) {
    padding-bottom: 3rem;
    position: relative;
  }

  &__link {
    display: block;
  }

  &__image {
    margin: 0 auto;
    width: 300px;
  }
}
