.sharing {

  @include breakpoint(small) {
    text-align: center;
  }

  &__title {
    display: inline;
    font-size: $font-size-text;
    @include breakpoint(small) {
      display: block;
      margin-bottom: 0.75*$margin-base;
    }
  }

  &__icon {
    display: inline-block;
    margin: 0 0.5*$margin-base;
    font-size: 1.5*$font-size-base;
    color: $second-color-dark;
    box-shadow: none;
    @include attention() {
      transform: translateY(-10px);
      box-shadow: none;
    }
  }
}
