.question {
  padding-left: 2*$padding-base;
  margin-bottom: 3*$margin-base;
  counter-increment: questionNumbers;
  position: relative;
  @include breakpoint(small) {
    padding-left: 0;
  }

  &::before {
    content: counter(questionNumbers, decimal-leading-zero);
    position: absolute;
    left: 15px;
    top: -3px;
    color: $main-color-dark;
    font-weight: bold;
    font-size: $font-size-base;
    @include breakpoint(small) {
      left: -25px;
    }
  }

  &__title {
    margin-bottom: $margin-base;
    font-size: 1.5*$font-size-base;
    @include breakpoint(small) {
      font-size: 1.2*$font-size-base;
    }
  }

  &__content {
    padding: 0 $padding-base;
    @include breakpoint(small) {
      padding: 0;
    }
  }

  .range-label {
    display: flex;
    justify-content: space-between;
  }
}
