$height-header: 120px;
$height-mobile-header: 80px;

.header {
  margin-bottom: $margin-to-content;
  border-bottom: $border;
  background-color: $color-background;
  @include transition(margin-bottom);
  @include breakpoint(small) {
    margin-bottom: 0.5*$margin-to-content;
  }

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height-header;
    padding-top: 0.7*$padding-base;
    padding-bottom: 0.7*$padding-base;
    @include breakpoint(small) {
      height: $height-mobile-header;
    }
  }
}
