.iframe {
  margin: 3rem 0;

  .video,
  .map {
    display: none;
    width: 100%;
  }

  .video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
  }

  .map {
    display: block;
  }

  &__inner {
    overflow: hidden;
    position: relative;
  }

  &__external-notice a {
    background: linear-gradient($neutral-100, $neutral-100) 50% 1.1em / 100% 1px no-repeat;
  }

  &--loaded {

    .iframe__inner {
      padding-top: 56.25%;
    }

    .iframe__load-button,
    .iframe__cover {
      display: none;
    }

    .iframe__video { // need for higher specifity
      display: block;
    }
  }
}
