.post {

  &-header {
    margin-bottom: $margin-base;
    font-size: $font-size-base;
  }

  &-body {
    position: relative;

    p:first-of-type {

      &::first-letter {
        font-size: 3.5*$font-size-text;
        line-height: 0.8;
        float: left;
        margin-right: 0.25*$margin-base;
        @include breakpoint(small) {
          font-size: 3*$font-size-text;
        }
      }
    }
  }

  &-cover {
    margin: $margin-base 0;
  }

  &-affiliate-hint {
    font-size: $font-size-base;
    font-style: italic;
  }
}
