.lead-magnet {
  padding: 0 1.25rem 1.25rem;
  position: relative;

  &::before {
    background-color: $primary-300;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 8rem;
    z-index: -1;
  }

  &__link {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__image {
    margin: 0 auto;
    order: -1;
    width: 220px;
  }

  &__title {
    margin: 1.25rem 0 0;
  }

  &__text {
    margin-bottom: 0;
    max-width: 400px;
    width: 100%;
  }
}

// show lead magnet on mobile after first paragraph in post content
.post__content {
  .lead-magnet {
    @include breakpoint(desktop) {
      display: none;
    }
    margin: 5rem 0;
    text-align: center;

    &__link {
      background: none;
    }
  }
}
