.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-medium-light-base;
  padding: 1rem;

  &-title {
    margin-top: 0;
  }

  &-description {
    margin-bottom: 0;
    font-size: $font-size-base;
  }

  &-button {
    margin-left: $margin-base;
  }
}
