.related-posts {

  &__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .post {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 3rem;
    @include breakpoint(mobile) {
      margin: 0 1.25rem 3rem;
    }

    &__title {
      margin-top: 0;
      order: 3;
      text-align: left;
    }

    &__categories {
      order: 2;
      text-align: left;
    }
  }

  .cover {
    height: 300px;
    order: 1;
  }
}
