.menu--footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -0.5*$margin-base;
  margin-right: -0.5*$margin-base;
  @include latoFont;

  .menu__item {
    margin: 0 0.5*$margin-base;
  }

  .menu__link {
    border-bottom: 2px solid $color-light-base;
    @include transition(border-color);
    @include attention() {
      color: unset;
      border-bottom: $link-decoration;
    }
  }
}
