.category__header {
  display: flex;
  flex-direction: column;
  height: 407px;
  justify-content: center;
  position: relative;

  &-title,
  &-description {
    margin: 0;
    max-width: $max-width;
  }

  &-description {
    padding-right: 504px;
    @include breakpoint(mobile) {
      padding-right: 0;
    }
  }
}
