.download {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
  padding-left: 3.5rem;
  position: relative;

  &::before {
    content: url('/assets/icons/download.svg');
    left: 0;
    position: absolute;
  }

  &__text {
    line-height: 1.2;
    @include breakpoint(mobile) {
      line-height: 1.5;
    }
  }

  &__file-info {
    @extend %info-text;
  }
}

a.download {
  background: none;
}
