$width-author-avatar: 50px;
$height-author-avatar: $width-author-avatar;

.author-info {
  display: flex;
  margin: $margin-base 0;

  .avatar {
    width: $width-author-avatar;
    height: $height-author-avatar;
    border-radius: 50%;
  }

  .author-text {
    margin-left: $margin-base;
    margin-right: 2 * $margin-base;

    > p {
      margin-bottom: 0;
      font-family: inherit;
    }
  }

  .author-name {
    font-size: $font-size-base;
    margin-top: 0;

    > a {
      font-size: inherit;
    }
  }
}