.menu {
  display: flex;
  @include breakpoint(mobile) {
    background-color: $neutral-500;
    flex-direction: column;
    left: 0;
    overflow: hidden;
    padding: 0 $page-side-padding;
    position: fixed;
    right: 0;
    top: $height-mobile-header;
  }
  @include breakpoint(desktop) {
    height: 100%;
  }

  &--hidden {
    @include breakpoint(mobile) {
      display: none;
    }
  }

  > .menu__item {
    @include breakpoint(mobile) {

      &:first-of-type {
        margin-top: .75rem;
      }

      &:last-of-type {
        margin-bottom: .75rem;
      }
    }
  }

  &__item--has-submenu {
    @include breakpoint(desktop) {
      @include attention {
        .menu__submenu {
          display: flex;
        }
      }
    }
  }
}
