.comments {
  margin: 0 auto 10rem;
  max-width: $max-width;
  padding: 0 1.25rem;
  text-align: center;
  @include breakpoint(mobile) {
    margin-bottom: 6rem;
  }

  &__button {

    &--hidden {
      display: none;
    }
  }
}
