$background-color-footer: $color-light-light-base;
$color-footer: $color-medium-base;

.footer {
  margin-top: $margin-to-content;
  background-color: $background-color-footer;
  color: $color-footer;
  overflow: hidden;

  .container {
    padding-top: 2*$padding-base;
    padding-bottom: 2*$padding-base;
    text-align: center;
  }

  * {
    color: inherit;
  }

  a {
    @include transition(color);

    &:hover {
      color: $color-dark-base;
    }
  }
}
