$width-author-image: 150px;

.post-author {
  display: flex;

  &-image {
    width: $width-author-image;
    border-radius: 50%;
  }

  &-content {
    margin-left: $margin-base;
  }

  &-name {
    margin-top: 0;
  }

  &-bio {
    margin-bottom: 0;
  }
}
