.header .navigation {

  .nav__link,
  .menu__link {
    color: inherit;
  }

  .nav__link {
    font-size: 1.75*$font-size-base;
    @include breakpoint(largeAndUp) {
      display: none;
    }
  }
}

.menu--main {
  display: none;
  position: absolute;
  top: $height-header + 11px;
  left: 0;
  right: 0;
  text-align: center;
  @include latoFont;

  &::after {
    @include greenBorder(bottom);
  }

  @include breakpoint(small) {
    top: $height-mobile-header + 11px;
  }
  @include breakpoint(largeAndUp) {
    display: flex;
    position: static;
    border: none;
    background: none;

    &::after {
      display: none;
    }
  }

  .menu__item {
    color: inherit;
    border-bottom: 0.1rem solid $color-accent-light;
    -ms-transform: skewY(-1deg);
    -webkit-transform: skewY(-1deg);
    transform: skewY(-1deg);
    @include breakpoint(largeAndUp) {
      border-bottom: none;

      &:first-of-type {
        .menu__link {
          margin-left: 0;
        }
      }

      &:last-of-type {
        .menu__link {
          margin-right: 0;
        }
      }
    }

    &:last-of-type {
      border-bottom: none;
    }

    .menu__link {
      display: block;
      padding: 0.75*$padding-base 0;
      -ms-transform: skewY(1deg);
      -webkit-transform: skewY(1deg);
      transform: skewY(1deg);
      @include breakpoint(largeAndUp) {
        padding: 0;
        margin: 0 0.75*$padding-base;
        border-bottom: 2px solid $color-light-base;
        @include transition(border-color);
      }

      @include attention() {
        color: $color-dark-base;
        @include breakpoint(largeAndUp) {
          border-bottom: $link-decoration;
        }
      }

      &--search {
        @include breakpoint(largeAndUp) {
          border-bottom: none;
          margin-left: 0;
          @include attention() {
            border-bottom: none;
          }
        }

        .link__icon {
          margin-right: 0.25*$margin-base;
          @include breakpoint(largeAndUp) {
            padding: 0.5*$padding-base;
            margin-right: 0;
            border: 2px solid $color-light-base;
            @include transition(border-color);
            @include attention() {
              border: $link-decoration;
            }
          }
        }

        .link__text {
          @include breakpoint(largeAndUp) {
            display: none;
          }
        }
      }
    }
  }
}
