.patreon-link {
  border: 10px solid $patreon-300;
  padding: 1rem 0;
  position: relative;

  &__image,
  &__text {
    margin: 0 .5rem;
  }

  &__image {
    flex: 1 1 250px;
    max-width: 250px;
  }

  &__text {
    flex: 1 1 250px;
  }

  &__link {
    @extend %link;

    &::before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.pagelinks .patreon-link {
  border-width: 7px;
  padding: 1rem;

  &__image {
    max-width: 100px;
  }

  &__text {
    font-size: .75rem;
    line-height: 1.4;
  }
}
