<section class="pagelinks__footer" aria-labelledby="pagelinks-footer-title">
  <h2 class="pagelinks__footer-title visually-hidden" id="pagelinks-footer-title">Diesen Post teilen</h2>
  <ul class="social__list">
    <li class="social__list-item">
      <a class="social__icon social__icon--newsletter fas fa-envelope" href="{{ site.url }}#newsletter"
        target="_blank" title="Melde dich für den Newsletter an" rel="noreferrer">
        <span class="visually-hidden">Zur</span>
        <span class="sharing__text"> Newsletter </span>
        <span class="visually-hidden">Anmeldung</span>
      </a>
    </li>
    <li class="social__list-item">
      <a class="social__icon icon icon--top fab fa-facebook" href="{{ site.facebook-link }}"
        target="_blank" title="Folge MinimalWaste auf Facebook (externer Link)">
        <span class="visually-hidden">Folge MinimalWaste auf Facebook (externer Link)</span>
      </a>
    </li>
    <li class="social__list-item">
      <a class="social__icon icon icon--top fab fa-twitter" href="{{ site.twitter-link }}"
        target="_blank" title="Folge MinimalWaste auf Twitter (externer Link)" rel="noreferrer">
        <span class="visually-hidden">Folge MinimalWaste auf Twitter (externer Link)</span>
      </a>
    </li>
    <li class="social__list-item">
      <a class="social__icon icon icon--top fab fa-youtube" href="{{ site.youtube-link }}"
        target="_blank" title="Folge MinimalWaste auf YouTube (externer Link)" rel="noreferrer">
        <span class="visually-hidden">Folge MinimalWaste auf Youtube (externer Link)</span>
      </a>
    </li>
  </ul>
</section>
