
// marking text
::selection {
  background-color: $primary-400;
}

::-moz-selection {
  background-color: $primary-400;
}

// outline
:focus {
  outline-color: $primary-400;
}

// scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: $neutral-200;
}

::-webkit-scrollbar-thumb {
  background: $neutral-500;
}

::-webkit-scrollbar-thumb:hover {
  background: $neutral-400;
}
