
/* marking text */
::selection {
  background-color: $main-color;
}

::-moz-selection {
  background-color: $main-color;
}

/* outline */
:focus {
  outline-color: $main-color;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background: $second-color-light;
}

::-webkit-scrollbar-thumb {
  background: $main-color;
}

::-webkit-scrollbar-thumb:hover {
  background: $main-color-dark;
}
