dl,
ol,
ul {
  margin-left: 1.5rem;
  @include breakpoint(mobile) {
    margin-left: 1.25rem;
  }
}

dt {

}

dd {

}

li {
  margin-bottom: .75;
  padding-left: 2rem;
  @include breakpoint(small) {
    padding-left: 2.25rem;
  }
}


/* unordered list */
ul {

  li {
    list-style-type: none;
    position: relative;

    &::before {
      content: url('/assets/icons/leaf.svg');
      position: absolute;
      left: 0;
      top: 3px;
    }
  }
}

/* ordered list */
ol {
  counter-reset: listNumbers;

  li {
    list-style-type: none;
    position: relative;
    counter-increment: listNumbers;

    &::before {
      content: counter(listNumbers, decimal-leading-zero);
      position: absolute;
      left: $padding-base;
      color: $primary-500;
      font-weight: bold;
      @include breakpoint(small) {
        left: 0.25*$padding-base;
      }
    }
  }
}
