b,
strong {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

mark {
  background-color: $primary-200;
}

abbr {
  cursor: help;
  text-decoration: underline dotted;
}
