table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0;

  tr {
    border-bottom: $border;

  }

  tbody tr:last-child {
    border-bottom: none;
  }

  th {
    text-align: left;
    background-color: $second-color-lighter;
    font-weight: normal;
  }

  td,
  th {
    padding: 0.4*$padding-base;
    border-right: $border;

    &:last-child {
      border-right: none;
    }
  }
}
