ol,
ul {
  margin-left: 1.5rem;
  @include breakpoint(mobile) {
    margin-left: 1.25rem;
  }
}

li {
  margin-bottom: .75rem;
  padding-left: 2rem;
  @include breakpoint(mobile) {
    padding-left: 2.25rem;
  }
}

ul {

  li {
    list-style-type: none;
    position: relative;

    &::before {
      content: url('/assets/icons/leaf.svg');
      left: 0;
      position: absolute;
      top: 3px;
    }
  }
}

ol {
  counter-reset: listNumbers;

  li {
    counter-increment: listNumbers;
    list-style-type: none;
    position: relative;

    &::before {
      color: $primary-500;
      content: counter(listNumbers, decimal-leading-zero);
      font-weight: bold;
      left: $padding-base;
      position: absolute;
      @include breakpoint(small) {
        left: .25 * $padding-base;
      }
    }
  }
}
