$font-size-h1: 3.2rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;
$font-size-h4: 1.7rem;
$font-size-h5: 1.5rem;
$font-size-h6: 1.3rem;
$line-height-headings: 1.2;
$margin-headings: 0.5rem 0;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: $line-height-headings;
  margin: $margin-headings;
  color: $color-text;

  a {
    color: inherit;
    @include attention() {
      color: $color-text;
    }
  }
}

h1 {
  font-size: $font-size-h1;
  margin: 1rem 0;
  @include breakpoint(small) {
    font-size: 0.7*$font-size-h1;
  }

  a {
    font-size: inherit;
  }
}

h2 {
  font-size: $font-size-h2;
  margin-top: 2*$margin-base;
  @include breakpoint(small) {
    font-size: 0.8*$font-size-h2;
  }

  a {
    font-size: inherit;
  }
}

h3 {
  font-size: $font-size-h3;
  @include breakpoint(small) {
    font-size: 0.9*$font-size-h3;
  }

  a {
    font-size: inherit;
  }
}

h4 {
  font-size: $font-size-h4;
  @include breakpoint(small) {
    font-size: 0.9*$font-size-h4;
  }

  a {
    font-size: inherit;
  }
}

h5 {
  font-size: $font-size-h5;
  @include breakpoint(small) {
    font-size: 0.9*$font-size-h5;
  }

  a {
    font-size: inherit;
  }
}

h6 {
  font-size: $font-size-h6;
  @include breakpoint(small) {
    font-size: 0.9*$font-size-h6;
  }

  a {
    font-size: inherit;
  }
}
