// defines a section that is quotes from another source
blockquote {
  padding-left: 0.75*$padding-base;
  border-left: 7px solid $color-accent;
  margin: 0.75*$margin-base 1.25*$margin-base;
  color: $color-medium-base;
  @include breakpoint(small) {
    margin: 0.5*$margin-base 0.75*$margin-base;
  }

  * {
    color: inherit;
  }

  p {
    font-size: 1.5*$font-size-base;
    @include breakpoint(small) {
      font-size: 1.2*$font-size-base;
    }
  }
}

// defines a short quotation
q {

  &::before {
    @include latoFont;
    content: ">>";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -3.5px;
    margin-right: 5px;
  }

  &::after {
    @include latoFont;
    content: "<<";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -3.5px;
    margin-left: 2px;
  }
}

// defines the name of a work (book, film, skulpture, etc)
cite {
  font-style: italic;
}
