$font-size-button: 1.2*$font-size-base;

.button {
  width: auto;
  padding: 0.5*$padding-base 2*$padding-base;
  border-radius: $border-radius;
  border: none;
  @include main-font;
  font-size: $font-size-button;
  cursor: pointer;
  //@include transition(all);
}

button,
input[type="reset"] {
  @extend .button;
  color: $neutral-900;
  background-color: $neutral-100;
  @include attention() {
    color: $neutral-100;
    background-color: $neutral-900;
  }
}

input[type="submit"] {
  @extend .button;
  color: $neutral-100;
  background-color: $neutral-900;
  @include attention() {
    color: $neutral-900;
    background-color: $neutral-100;
  }
}

textarea,
input {
  width: 100%;
  border: $border;
  border-radius: $border-radius;
  font-size: $font-size-base;
  padding: 0.5*$padding-base;
  margin-bottom: $margin-base;
  color: $neutral-900;
  @include main-font;
}

input {
  &::placeholder {
    color: $neutral-500;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-bottom: 0;
  margin-right: 0.5*$margin-base;
  cursor: pointer;
}

input[type="range"] {
  padding: 0;
  margin-bottom: 0;
}

label {
  cursor: pointer;
  display: block;
}
