b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

mark {
  background-color: $color-accent-light;
}

abbr {
  text-decoration: none;
  border-bottom: 4px dotted $color-accent;
  @include attention() {
    color: $color-accent;
  }
  @include transition(color);
}
