img,
figure {
  display: block;
  width: 100%;
  height: auto;
}

figure img {
  margin-bottom: 0;
}

figcaption {
  font-size: $font-size-base;
  color: $color-subtext;
  padding-top: 0.5*$padding-base;
  text-align: center;
}
