$mark-border: 3px solid $primary-300;

b,
strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

mark {
  background-color: $primary-300;
  border-left: $mark-border;
  border-right: $mark-border;
}

abbr {
  text-decoration: none;
  border-bottom: 4px dotted $primary-500;
  @include attention() {
    color: $primary-500;
  }
  @include transition(color);
}
