// defines a section that is quotes from another source
blockquote {
  font-size: 2.5rem;
  padding-left: 0.75*$padding-base;
  border-left: 7px solid $color-accent;
  margin: 1rem 2rem;

  * {
    color: inherit;
  }
}

// defines a short quotation
q {

  &::before {
    @include latoFont;
    content: ">>";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -3.5px;
    margin-right: 5px;
  }

  &::after {
    @include latoFont;
    content: "<<";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -3.5px;
    margin-left: 2px;
  }
}

// defines the name of a work (book, film, skulpture, etc)
cite {
  font-style: italic;
}
