$font-size-button: 1.2*$font-size-base;

button,
input[type="submit"],
input[type="reset"] {
  width: auto;
  padding: 0.5*$padding-base 2*$padding-base;
  border: $border;
  border-radius: $border-radius;
  color: $color-text;
  background-color: $color-light-base;
  @include latoFont;
  font-size: $font-size-button;
  cursor: pointer;
  @include transition(background-color);
  @include attention() {
    background-color: $color-light-light-base;
  }
}

input[type="submit"] {
  border: none;
  color: $color-light-base;
  background-color: $color-dark-base;
  @include transition(color);
  @include transition(background-color);
  @include attention() {
    color: $color-light-base;
    background-color: $color-medium-base;
  }
}

textarea,
input {
  width: 100%;
  border: $border;
  border-radius: $border-radius;
  font-size: $font-size-base;
  padding: 0.5*$padding-base;
  margin-bottom: $margin-base;
  color: $color-text;
  @include latoFont;
}

input {
  &::placeholder {
    color: $color-light-light-base;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-bottom: 0;
  margin-right: 0.5*$margin-base;
  cursor: pointer;
}

input[type="range"] {
  padding: 0;
  margin-bottom: 0;
}

label {
  cursor: pointer;
  display: block;
}
