$font-size-h1: 5rem; // 80px
$font-size-h2: 2.5rem; // 40px
$font-size-h3: 2rem; // 32px
$font-size-h4: 1.75rem; // 28px
$font-size-h5: 1.5rem; // 24px
$font-size-h6: 1.25rem; // 20px
$line-height-headings: 1.34;
$margin-headings: 3rem 0 1.25rem 0; // 48px 0 20px 0

$font-size-mobile-h1: 2.5rem; // 40px
$font-size-mobile-h2: 2rem; // 32px
$font-size-mobile-h3: 1.875rem; // 30px
$font-size-mobile-h4: 1.75rem; // 28px
$font-size-mobile-h5: 1.5rem; // 24px
$font-size-mobile-h6: 1.25rem; // 20px
$line-height-headings-mobile: 1.18;
$margin-headings-mobile: 2rem 0 1rem 0; // 48px 0 20px 0

h1,
h2,
h3,
h4,
h5,
h6 {
  @include headline-font;
  color: $neutral-800;
  font-weight: 400;
  line-height: $line-height-headings;
  margin: $margin-headings;
  @include breakpoint(mobile) {
    margin: $margin-headings-mobile;
  }

  a {
    color: inherit;
    font-size: inherit;
    @include attention {
      color: $neutral-800;
    }
  }
}

h1 {
  font-size: $font-size-h1;
  margin: 1rem 0;
  @include breakpoint(mobile) {
    font-size: $font-size-mobile-h1;
  }
}

h2 {
  font-size: $font-size-h2;
  @include breakpoint(mobile) {
    font-size: $font-size-mobile-h2;
  }
}

h3 {
  font-size: $font-size-h3;
  @include breakpoint(mobile) {
    font-size: $font-size-mobile-h3;
  }
}

h4 {
  font-size: $font-size-h4;
  @include breakpoint(mobile) {
    font-size: $font-size-mobile-h4;
  }
}

h5 {
  font-size: $font-size-h5;
  @include breakpoint(mobile) {
    font-size: $font-size-mobile-h5;
  }
}

h6 {
  font-size: $font-size-h6;
  @include breakpoint(mobile) {
    font-size: $font-size-mobile-h6;
  }
}
