b,
strong {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

mark {
  background-color: $primary-200;
}

abbr {
  text-decoration: none;

  &::after {
    content: '(' attr(title) ')';
    margin-left: 0.2em;
  }
}
