{% comment %}
  Einbinden mit {% include posts/large-post.html page="category" %}
{% endcomment %}
<article class="post post--large">
  <div class="post__text">
    <h3 class="post__title">
      <a class="post__link" href="{{ latest-post.url }}" title="Zum Post '{{ latest-post.title }}'">
        {{ latest-post.title }}
      </a>
    </h3>
    <p class="post__subtitle">{{ latest-post.subtitle }}</p>
    <span class="post__label">Neuster Beitrag</span>
  </div>
  <div class="cover">
    <img class="cover__image lazy" data-src="/assets/title-images/{{ latest-post.date | split: '-' | first }}/{{ latest-post.date | split: ' ' | first }}-{{ latest-post.url | remove: '/blog/' | remove: '/'}}.jpg" alt="" />
  </div>
</article>
