{% comment %}
  Einbinden mit {% include posts/small-post.html page="category" %}
{% endcomment %}
<article class="post post--small">
  <div class="post__text">
    <h3 class="post__title">
      <a class="post__link" href="{{ site.baseurl }}{{ post.url }}" title="Zum Post '{{ post.title }}'">{{ post.title }}</a>
    </h3>
    {% if include.page == "category" %}
      <p class="post__subtitle">{{ post.subtitle }}</p>
    {% else %}
      <div class="post__categories">
        {% assign cat = site.data.categories[post.categories.first] %}
        <a class="post__categories-link" href="{{ site.baseurl }}{{ cat.url }}" title="Zur Kategorie {{ cat.name }}">
          <span class="visually-hidden">Kategorie </span>
          {{ cat.name }}
        </a>
      </div>
    {% endif %}
  </div>
  <div class="cover">
    <img class="cover__image" src="{{ site.baseurl }}/assets/title-images/{{ post.date | split: '-' | first }}/{{ post.date | split: ' ' | first }}-{{ post.url | remove: '/blog/' | remove: '/'}}.jpg" alt="" />
  </div>
</article>
