.copyright {
  margin-top: 1.5*$margin-base;
  font-size: $font-size-base;
  letter-spacing: 0.5px;
  @include main-font;
  @include breakpoint(small) {
    font-size: 0.8*$font-size-base;
  }

  * {
    font-size: inherit;
  }

  a {
    color: inherit;
  }
}
