.plug {
  text-align: center;

  &--mobile {
    display: none;
    @include breakpoint(mobile) {
      display: block;
    }
  }

  &--desktop {
    display: block;
    @include breakpoint(mobile) {
      display: none;
    }
  }
}
