.plug {
  margin: 5rem auto;

  &--mobile {
    display: none;
    @include breakpoint(mobile) {
      display: block;
      max-width: 300px;
    }
  }

  &--desktop {
    display: block;
    @include breakpoint(mobile) {
      display: none;
    }
  }
}
