$animation-delay: 0s;
$animation-duration: .3s;
$animation-timing: ease-out;
$animation-count: 1;
$animation-mode: forwards;

.burger {

  &__line {

    &--top {
      transform-origin: 2px 7px;
    }
    &--bottom {
      transform-origin: 3px 9px;
    }
  }
}

.burger--to-cross {

  .burger__line {

    &--top {
      @include animation(burgerToCrossTopLine, $animation-delay, $animation-duration, $animation-timing, $animation-count, $animation-mode);
    }

    &--center {
      @include animation(burgerToCrossCenterLine, $animation-delay, $animation-duration, $animation-timing, $animation-count, $animation-mode);
    }

    &--bottom {
      @include animation(burgerToCrossBottomLine, $animation-delay, $animation-duration, $animation-timing, $animation-count, $animation-mode);
    }
  }
}

.burger--from-cross {

  .burger__line {

    &--top {
      @include animation(burgerFromCrossTopLine, $animation-delay, $animation-duration, $animation-timing, $animation-count, $animation-mode);
    }

    &--center {
      @include animation(burgerFromCrossCenterLine, $animation-delay, $animation-duration, $animation-timing, $animation-count, $animation-mode);
    }

    &--bottom {
      @include animation(burgerFromCrossBottomLine, $animation-delay, $animation-duration, $animation-timing, $animation-count, $animation-mode);
    }
  }
}

// keyframes
// burger to cross
@include keyframe(burgerToCrossTopLine) {
  0% { transform: none; }
  50% { transform: translate(0, 7px); }
  100% { transform: translate(0, 0) rotate(45deg); }
}

@include keyframe(burgerToCrossCenterLine) {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

@include keyframe(burgerToCrossBottomLine) {
  0% { transform: none; }
  50% { transform: translate(0, -7px); }
  100% { transform: translate(0, 0) rotate(-45deg); }
}

// burger from cross
@include keyframe(burgerFromCrossTopLine) {
  0% { transform: translate(0, 0) rotate(45deg); }
  50% { transform: translate(0, 7px) rotate(0deg); }
  100% { transform: translate(0, 0); }
}

@include keyframe(burgerFromCrossCenterLine) {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframe(burgerFromCrossBottomLine) {
  0% { transform: translate(0, 0) rotate(-45deg); }
  50% { transform: translate(0, -7px) rotate(0deg); }
  100% { transform: translate(0, 0); }
}
