$background-color-button: $color-dark-base;
$color-button: $color-light-base;

a[role="button"] {
  padding: 0.5*$margin-base 2*$margin-base;
  border-radius: 5px;
  border: none;
  @include latoFont;
  font-size: $font-size-button;
  cursor: pointer;
  color: $color-button;
  background-color: $background-color-button;
  @include transition(color);
  @include transition(background-color);
  @include attention() {
    color: $color-button;
    background-color: $color-medium-base;
  }
}
