@mixin greenBorder($topOrBottom) {
  content: '';
  display: block;
  width: 100%;
  height: 1rem;
  @if $topOrBottom == top {
    border-top: 0.5rem solid $color-accent;
    border-bottom: 0.15rem solid $color-accent-light;
  }
  @else if $topOrBottom == bottom {
    border-top: 0.15rem solid $color-accent-light;
    border-bottom: 0.5rem solid $color-accent;
  }
  @include skew(-1deg);
}
