.copyright {
  margin-top: 3*$margin-base;
  font-size: $font-size-base;
  letter-spacing: 0.5px;
  @include latoFont;

  * {
    font-size: inherit;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
