$menu-text-size: 1.25rem; // 20px
$menu-text-size-mobile: 1rem; // 16px;

.menu__item {
  align-items: center;
  color: $neutral-500;
  display: flex;
  font-size: $menu-text-size;
  line-height: 1.75;
  margin-bottom: 0;
  margin-right: 1.875rem; // 30px
  padding-left: 0;
  position: relative;
  text-transform: lowercase;
  @include breakpoint(mobile) {
    color: $neutral-100;
    display: list-item;
    font-size: $menu-text-size-mobile;
    margin-right: 0;
    opacity: 1;
    @include transition-custom(opacity, .3s, linear, 0s);
  }

  &::before {
    content: none;
  }

  &--submenu {
    color: $neutral-100;
    margin-right: 0;
    @include breakpoint(mobile) {
      padding-left: 1.25rem;
    }
  }
}
