.external-notice {
  @extend %info-text;
  background-color: $neutral-900;
  color: $neutral-100;
  padding: .5rem;
  text-align: center;

  a {
    background: linear-gradient($neutral-100, $neutral-100) 50% 1.1em / 100% 1px no-repeat;

    &::after {
      background: url('/assets/icons/external-link.svg') top center / cover no-repeat;
      content: '(externer Link)';
      display: inline-block;
      height: 1.3em;
      overflow: hidden;
      position: relative;
      text-indent: 1.3em;
      top: 4px;
      white-space: nowrap;
      width: 1.3em;
    }
  }
}
