$background-color-button: $color-dark-base;
$color-button: $color-light-base;

.button {
  padding: 0.75rem 1rem;
  border: none;
  @include latoFont;
  font-size: $font-size-button;
  text-transform: uppercase;
  cursor: pointer;
  @include transition(color);
  @include transition(background-color);

}

.cta {
  color: $color-button;
  background-color: $background-color-button;
  @include attention() {
    color: $color-button;
  }
}
