.branding {
  height: 100%;

  &-logo {
    height: 100%;
    width: auto;
  }

  &-logo--large {
    @include breakpoint(logo-small) {
      display: none;
    }
  }

  &-logo--small {
    @include breakpoint(logo-large) {
      display: none;
    }
  }
}