.menu__link {
  @extend %menu-link;
  @include breakpoint(mobile) {
    display: block;
    padding: .75rem 1.25rem;
  }

  &:not(.menu__link--home) {
    @include breakpoint(mobile) {
      @include attention {
        background: $neutral-600;
      }
      border-bottom: 1px solid $neutral-600;
    }
  }

  &[href='#main'] {
    position: static;

    &::after {
      content: ' (aktuelle Seite)';
      display: inline-block;
      height: 0;
      overflow: hidden;
      width: 0;
    }

    &:not(.menu__link--home) {
      @include breakpoint(desktop) {
        background-size: 100% 1px;
      }
      @include breakpoint(mobile) {
        background: $neutral-600;
      }
    }
  }

  &--home {
    background: none;
    padding: 0;
  }
}
