.post__categories {
  order: -1;

  &::after {
    background-color: $primary-500;
    border: 0;
    content: '';
    display: block;
    height: 3px;
    margin: 0;
    width: 60px;
  }

  &-link {
    @extend %menu-text;
    @extend %menu-link;
    background-position: 50% 1.1em;
    position: relative;
    z-index: 2;
  }
}
