.grid {
  display: -ms-grid;
  display: grid;

  &__cell {
    position: relative;

    &::before {
      content: '';
      display: block;
      height: 0;
      padding-bottom: 100%;
    }

    &--11 {
      grid-column: span 1;
      grid-row: span 1;
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
    }

    &--12 {
      grid-column: span 1;
      grid-row: span 1;
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      @include breakpoint(smallAndUp) {
        grid-column: span 1;
        grid-row: span 2;
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 2;
      }

      &::before {
        @include breakpoint(smallAndUp) {
          padding-bottom: calc(200% + #{1.5*$padding-base});
        }
      }
    }

    &--21 {
      grid-column: span 1;
      grid-row: span 1;
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      @include breakpoint(smallAndUp) {
        grid-column: span 2;
        grid-row: span 1;
        -ms-grid-column-span: 2;
        -ms-grid-row-span: 1;
      }

      &::before {
        @include breakpoint(smallAndUp) {
          padding-bottom: 50%;
        }
      }
    }

    &--22 {
      grid-column: span 1;
      grid-row: span 1;
      -ms-grid-column-span: 1;
      -ms-grid-row-span: 1;
      @include breakpoint(smallAndUp) {
        grid-column: span 2;
        grid-row: span 2;
        -ms-grid-column-span: 2;
        -ms-grid-row-span: 2;
      }
    }
  }
}
