$background-color-button: $color-dark-base;
$color-button: $color-light-base;

.cta {
  color: $color-button;
  background-color: $background-color-button;
  @include attention() {
    background-color: $color-highlight-hover;
  }
}
