.back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 55px;
  height: 55px;
  margin: $margin-base;
  padding: 0.5*$padding-base $padding-base 0.5*$padding-base 0.96*$padding-base;
  border-radius: 50%;
  font-size: 1.5*$font-size-base;
  background-color: $color-light-base;
  @include box-shadow-buttons-menu();
  @include transition(all);
  @include attention() {
    color: $color-light-base;
    background-color: $main-color-dark;
    @include box-shadow-buttons-menu();
  }
  @include breakpoint(small) {
    margin: 0.5*$margin-base;
  }

  &--hidden {
    opacity: 0;
  }

  &--visible {
    opacity: 1;
  }
}
