.copyright {
  margin-top: $margin-base;
  font-size: $font-size-base;
  letter-spacing: 0.5px;
  @include latoFont;

  * {
    font-size: inherit;
  }

  a {
    color: inherit;
    border-bottom: $link-decoration;
    @include attention() {
      color: $color-accent;
    }
  }
}
