<!-- primary menu -->
<ul class="menu menu--hidden main-menu">
  <li class="menu__item menu__item--has-submenu" aria-label="Zero Waste">
    <a class="menu__link menu__link--has-submenu" href="/category/zero-waste.html" aria-expanded="false">Zero Waste</a>
    <!-- submenu -->
    <ul class="menu__submenu menu__submenu--hidden">
      <li class="menu__item menu__item--submenu menu__item--overview" aria-label="Übersicht Zero Waste">
        <a class="menu__link menu__link--submenu" href="/category/zero-waste.html">Übersicht Zero Waste</a>
      </li>
      <li class="menu__item menu__item--submenu" aria-label="Müllfreies Badezimmer">
        <a class="menu__link menu__link--submenu" href="/category/muellfreies-badezimmer.html">Müllfreies Bad</a>
      </li>
      <li class="menu__item menu__item--submenu" aria-label="Was kostet Zero Waste?">
        <a class="menu__link menu__link--submenu" href="/category/zero-waste-kosten.html">Kosten Zero Waste</a>
      </li>
      <li class="menu__item menu__item--submenu" aria-label="DIY">
        <a class="menu__link menu__link--submenu" href="/category/diy.html">DIY</a>
      </li>
      <li class="menu__item menu__item--submenu" aria-label="Rohstoffe und Recycling">
        <a class="menu__link menu__link--submenu" href="/category/rohstoffe-und-recycling.html">Rohstoffe & Recycling</a>
      </li>
    </ul>
    <!-- end submenu -->
  </li>
  <li class="menu__item" aria-label="Minimalismus">
    <a class="menu__link" href="/category/minimalismus.html">Minimalismus</a>
  </li>
  <li class="menu__item" aria-label="Fair Fashion">
    <a class="menu__link" href="/category/sustainable-fashion.html">Fair Fashion</a>
  </li>
  <li class="menu__item" aria-label="Klima">
    <a class="menu__link" href="/category/klima.html">Klima</a>
  </li>
</ul>
