<div id="cookie-notice" class="cookie-notice cookie-notice--hidden">
  <h2 class="cookie-notice__title">MinimalWaste verwendet Cookies</h2>
  <p class="cookie-notice__text">
    MinimalWaste verwendet Cookies, damit der Blog stetig besser und informativer
    gestaltet werden kann. Alle weiteren Informationen findest du in der
    <a class="cookie-notice__link" href="/pages/datenschutz.html" title="Zur Datenschutzerklärung">Datenschutzerklärung</a>.
    Bei Fragen kannst du mich auch gerne unter
    <a class="cookie-notice__link" href="mailto:info@minimalwaste.de?subject=datenschutz" title="Schreibe eine Nachricht an MinimalWaste">info@minimalwaste.de</a>
    kontaktieren.
  </p>
  <a id="cn-dismiss" class="cookie-notice__button" role="button" title="Cookies ablehnen.">
    Nein, ich möchte keine Cookies!
  </a>
  <a id="cn-ok" class="cookie-notice__button" role="button" title="Cookies erlauben">
    Cookies sind ok :)
  </a>
</div>
