<div class="post__content">
  <p class="post__subtitle"><span class="visually-hidden">Untertitel: </span>{{ page.subtitle }}</p>

  {% assign content_array = page.content | split: site.excerpt_separator %}
  {% assign excerpt = content_array | first %}
  {% assign content = content_array | last %}

  {{ excerpt }}

  {% include post/lead-magnet.html %}

  {% assign paragraphs = content | split: '<p>' %}
  {% for p in paragraphs limit:4 %}
    <p>{{ p }}
  {% endfor %}

  {% for p in paragraphs offset:4 limit:4 %}
    <p>{{ p }}
  {% endfor %}

  {% for p in paragraphs offset:8 %}
    <p>{{ p }}
  {% endfor %}

</div>
