<div class="post__content">
  <p class="post__subtitle"><span class="visually-hidden">Untertitel: </span>{{ page.subtitle }}</p>
  {{ page.excerpt }}

  {% include post/lead-magnet.html %}

  {% assign paragraphs = content | split: '<p>' %}
  {% for p in paragraphs offset:2 limit:4 %}
    <p>{{ p }}
  {% endfor %}

  {% include ads/inpost.html %}

  {% for p in paragraphs offset:6 limit:4 %}
    <p>{{ p }}
  {% endfor %}

  {% include patreon-banner.html %}

  {% for p in paragraphs offset:10 %}
    <p>{{ p }}
  {% endfor %}

</div>
