<header class="post__header">
  <div class="post__header-text">
    <h1 class="title">{{ page.title }}</h1>
    <div class="categories">
      {% if page.categories.first %}
        {% assign cat = site.data.categories[page.categories.first] %}
        <a class="categories__link" href="{{ cat.url }}" title="zur Kategorie {{ cat.name }}">
          <span class="visually-hidden">In den Kategorien </span>
          {{ cat.name }}
        </a>
        {% for category in page.categories offset:1 %}
          {% assign cat = site.data.categories[category] %}
          | <a class="categories__link" href="{{ cat.url }}" title="zur Kategorie {{ cat.name }}">{{ cat.name }}</a>
        {% endfor %}
      {% endif %}
      <hr />
    </div>
  </div>
  <div class="cover">
    <img class="cover__image" src="/assets/title-images/{{ page.date | split: '-' | first }}/{{ page.date | split: ' ' | first }}-{{ page.url | remove: '/blog/' | remove: '/'}}.jpg" alt="{{ page.title }}" title="© {{ site.title }}" width="1236" height="650" />
  </div>
  <div class="meta">
    <img class="meta__author-image" src="{{ site[page.author].picture }}" alt="Autor {{ site[page.author].name }}" title="Bild von {{ site[page.author].name }}" width="60" height="60" />
    <p class="meta__text">
      <span class="visually-hidden">Veröffentlich von </span>
      {{ site[page.author].name }}<br />
      <span class="visually-hidden">am </span>
      <time datetime="{{ page.date }}">{{ page.date | date: "%d.%m.%Y" }}</time>
    </p>
  </div>
</header>
