<header class="post__header">
  <h1 class="post__title">{{ page.title }}</h1>
  <div class="post__categories">
    {% if page.categories.first %}
      {% assign cat = site.data.categories[page.categories.first] %}
      <a class="post__link" href="{{ cat.url }}" title="zur Kategorie {{ cat.name }}">{{ cat.name }}</a>
      {% for category in page.categories offset:1 %}
        {% assign cat = site.data.categories[category] %}
        | <a class="post__link" href="{{ cat.url }}" title="zur Kategorie {{ cat.name }}">{{ cat.name }}</a>
      {% endfor %}
    {% endif %}
  </div>
  <div class="post__meta">
    <img class="author-image" src="{{ site[page.author].picture }}" alt="Autor {{ site[page.author].name }}" title="Bild von {{ site[page.author].name }}" width="60" height="60" />
    <span>von {{ site[page.author].name }}</span>
    <span>am <time datetime="{{ page.date }}">{{ page.date | date: "%d.%m.%Y" }}</time></span>
  </div>
  <picture class="post__cover">
    <source srcset="{{ page.image | remove: '.jpg' }}-mobile.jpg" media="(max-width: 540px)" />
    <img src="{{ page.image }}" alt="{{ page.title }}" title="© {{ site.title }}" />
  </picture>
</header>
