<header class="post__header">
  <div class="post__header-text">
    <h1 class="post__title">{{ page.title }}</h1>
    <div class="post__categories">
      {% if page.categories.first %}
        {% assign cat = site.data.categories[page.categories.first] %}
        <a class="post__categories-link" href="{{ site.baseurl }}{{ cat.url }}" title="Zur Kategorie {{ cat.name }}">
          <span class="visually-hidden">Kategorie </span>
          {{ cat.name }}
        </a>
        {% for category in page.categories offset:1 %}
          {% assign cat = site.data.categories[category] %}
          |
          <a class="post__categories-link" href="{{ site.baseurl }}{{ cat.url }}" title="Zur Kategorie {{ cat.name }}">
            <span class="visually-hidden">Kategorie </span>
            {{ cat.name }}
          </a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="cover">
    <img class="cover__image" src="{{ site.baseurl }}/assets/title-images/{{ page.date | split: '-' | first }}/{{ page.date | split: ' ' | first }}-{{ page.url | remove: '/blog/' | remove: '/'}}.jpg" alt="" width="1236" height="650" />
  </div>
  <div class="post__meta">
    <img class="post__meta-author-image" src="{{ site.baseurl }}/{{ site[page.author].picture }}" alt="Autor des Posts ist {{ site[page.author].name }}" width="60" height="60" />
    <p class="post__meta-text">
      <span class="visually-hidden">Veröffentlich von </span>
      {{ site[page.author].name }}<br />
      <span class="visually-hidden">am </span>
      <time datetime="{{ page.date }}">{{ page.date | date: "%d.%m.%Y" }}</time>
    </p>
  </div>
</header>
