<div class="lead-magnet">
  <a class="lead-magnet__link" href="#newsletter" aria-label="Das Nachhaltigkeits 101 zum Download">
    <h2 class="lead-magnet__title">Zum Download</h2>
    <p class="lead-magnet__text">
      Im Nachhaltigkeits 101 habe ich die wichtigsten Tipps zusammen gefasst
      mit denen jeder starten kann.
    </p>
    <img class="lead-magnet__image" src="/assets\bonus\2018-05-12-das-nachhaltigkeits-101.jpg"
      alt="Cover des PDF-Downloads 'Das Nachhaltigkeits 101'" title="© {{ site.title }}" />
  </a>
</div>
