<section class="lead-magnet" aria-labelledby="lead-magnet-title">
  <a class="lead-magnet__link" href="#newsletter" aria-labelledby="lead-magnet-title">
    <h2 class="lead-magnet__title" id="lead-magnet-title"><span class="visually-hidden">Das Nachhaltigkeits 101</span>Zum Download</h2>
    <p class="lead-magnet__text">
      Im Nachhaltigkeits 101 habe ich die wichtigsten Tipps zusammen gefasst
      mit denen jeder starten kann.
    </p>
    <img class="lead-magnet__image" data-src="/assets/content/das-nachhaltigkeits-101.jpg"
      alt="Cover des PDF-Downloads 'Das Nachhaltigkeits 101'" />
  </a>
</section>
