<section class="patreon content" aria-labelledby="patreon__title">
  <a class="patreon__link" href="{{ site.patreon-link }}" title="zur Patreon-Seite von MinimalWaste">
    <img class="patreon__logo" src="/assets/logos/Patreon_Mark_NoBackground.png" alt="Patreon-Logo" title="Patreon-Logo" />
    <div class="patreon__content">
      <h3 id="patreon__title" class="patreon__title">Unterstütze MinimalWaste auf Patreon</h3>
      <p class="patreon__description">Erhalten Zugang zu zusätzlichem Content und profitiere vom Early Access.</p>
    </div>
  </a>
</section>
