<section class="pinterest-image" aria-labelledby="pinterest-image-title">
  <h2 class="pinterest-image__title" id="pinterest-image-title">Post anpinnen</h2>
  <a href="//pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&media={{ site.url }}/assets/pinterest-images/{{ page.date | split: '-' | first }}/{{ page.date | split: ' ' | first }}-{{ page.url | remove: '/blog/' | remove: '/'}}.jpg&description={{ page.title }}"
    class="pinterest-image__link" target="_blank" title="Diesen Post auf Pinterest merken (externer Link)" rel="noreferrer">
    <span class="visually-hidden">Diesen Post auf Pinterest merken (externer Link)</span>
    <img class="pinterest-image__image" src="/assets/pinterest-images/{{ page.date | split: '-' | first }}/{{ page.date | split: ' ' | first }}-{{ page.url | remove: '/blog/' | remove: '/'}}.jpg"
      alt="Pinterest Cover zu '{{ page.title }}'" data-pin-url="{{ page.url }}" data-pin-description="{{ page.title }}" />
  </a>
</section>
