{% if page.related-posts %}
<section class="related-posts" aria-labelledby="related-posts-title">
  <h2 class="related-posts__title" id="related-posts-title">Ähnliche Beiträge</h2>
  <div class="related-posts__posts">
    {% for uid in page.related-posts %}
      {% assign post = site.posts | where: "uid", uid | first %}
      {% if post %}
        <article class="post">
          <h3 class="post__title post__title--h4">
            <a class="post__link" href="{{ site.baseurl }}/{{ post.url }}" title="Zum Post '{{ post.title }}'">{{ post.title }}</a>
          </h3>
          <div class="post__categories">
            {% assign cat = site.data.categories[post.categories.first] %}
            <a class="post__categories-link" href="{{ site.baseurl }}/{{ cat.url }}" title="Zur Kategorie {{ cat.name }}">
              <span class="visually-hidden">Kategorie </span>
              {{ cat.name }}
            </a>
          </div>
          <div class="cover">
            <img class="cover__image" src="{{ site.baseurl }}/assets/title-images/{{ post.date | split: '-' | first }}/{{ post.date | split: ' ' | first }}-{{ post.url | remove: '/blog/' | remove: '/'}}.jpg" alt="" />
          </div>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</section>
{% endif %}
