<section class="sharing" aria-labelledby="sharing-title">
  <h2 class="sharing__title visually-hidden" id="sharing-title">Diesen Post teilen</h2>
  <a class="sharing__icon sharing__icon--newletter fas fa-envelope"
    href="#newsletter" title="Zur Newsletter Anmeldung">
    <span class="visually-hidden">Zur</span>
    <span class="sharing__text"> Newsletter </span>
    <span class="visually-hidden">Anmeldung</span>
  </a>
  <a class="sharing__icon icon icon--left icon--m-top fab fa-facebook"
    href="//facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
    target="_blank" rel="nofollow" title="Teile diesen Post auf Facebook (externer Link)">
    <span class="visually-hidden">Teile diesen Post auf Facebook (externer Link)</span>
  </a>
  <a class="sharing__icon icon icon--left icon--m-top fab fa-twitter"
    href="//twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter-username }}&related={{ site.twitter-username }}"
    target="_blank" rel="nofollow" title="Teile diesen Post auf Twitter (externer Link)">
    <span class="visually-hidden">Teile diesen Post auf Twitter (externer Link)</span>
  </a>
  <a class="sharing__icon icon icon--left icon--m-top fab fa-pinterest"
    href="//pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&media={{ site.url }}{{ page.pinterest-image }}&description={{ page.title }}"
    target="_blank" rel="nofollow" title="Teile diesen Post auf Pinterest (externer Link)">
    <span class="visually-hidden">Teile diesen Post auf Pinterest (externer Link)</span>
  </a>
  <a class="sharing__icon icon icon--left icon--m-top fab fa-whatsapp"
    href="whatsapp://send?text={{ site.url }}{{ page.url }}"
    target="_blank" rel="nofollow" title="Teile diesen Post über WhatsApp (externer Link)">
    <span class="visually-hidden">Teile diesen Post über WhatsApp (externer Link)</span>
  </a>
  <a class="sharing__icon icon icon--left icon--m-top fas fa-print"
    href="javascript:window.print()" title="Drucke diesen Beitrag aus oder speichere ihn als PDF">
    <span class="visually-hidden">Drucke diesen Beitrag aus oder speichere ihn als PDF</span>
  </a>
</section>
