<section class="sharing" aria-label="Teile diesen Post">
  <a class="sharing__icon icon fab fa-facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" alt="" title="Teile diesen Post auf Facebook"></a>
  <a class="sharing__icon icon fab fa-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter-username }}&related={{ site.twitter-username }}" rel="nofollow" alt="" title="Tweete diesen Post"></a>
  <a class="sharing__icon icon fab fa-pinterest" href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&description={{ page.title }}" rel="nofollow" alt="" title="Pinne diesen Post an eine Pinnwand"></a>
  <a class="sharing__icon icon fab fa-whatsapp" href="whatsapp://send?text={{ site.url }}{{ page.url }}" rel="nofollow" alt="" title="Teile diesen Post über WhatsApp"></a>
  <a class="sharing__icon icon fas fa-print" href="javascript:window.print()" alt="" title="Drucke diesen Beitrag aus oder speichere ihn als PDF"></a>
</section>
