---
layout: wrapper
---
<article class="category" aria-label="Kategorie: {{ page.category }}">
  <header class="category__header">
    <h1 class="category__title">{{ page.title }}</h1>
    <p class="category__description">{{ page.description }}</p>
  </header>

  <div class="category__posts">
  {% for post in site.categories[page.category] %}
    <article class="post post--category" aria-label="{{ post.title }}">
      <a class="post__link" href="{{ post.url }}" title="zum Post {{ post.title }}">
        <picture>
          <source srcset="{{ post.image | remove: '.jpg' }}-mobile.jpg" media="(max-width: 540px)">
          <img class="post__cover" src="{{ post.image }}" alt="{{ post.title }}" />
        </picture>
      </a>
      <div class="post__text">
        <h2 class="post__title">
          <a href="{{ post.url }}" title="zum Post {{ post.title }}">{{ post.title }}</a>
        </h2>
        <p class="post__subtitle">{{ post.subtitle }}</p>
        <div class="post__meta">
          <span>veröffentlicht am <time datetime="{{ post.date }}">{{ post.date | date: "%d.%m.%Y" }}</time></span>
          <span>von <a class="post__link" href="{{ site[post.author].more-page }}" title="mehr über {{ site[post.author].name }}">{{ site[post.author].name }}</a></span>
        </div>
      </div>
    </article>
  {% endfor %}
  </div>
</article>
