---
layout: wrapper
title: "home"
---
{% include home-lead-magnet.html %}
<div class="container">
  {% include home-latest-post.html %}
  {% include home-category-posts.html category="Zero Waste" %}
  {% include home-category-posts.html category="Minimalismus" %}
  {% include home-category-posts.html category="Sustainable Fashion" %}
  {% include home-category-posts.html category="DIY" %}
  {% include home-category-posts.html category="Emissionen" %}
</div>
{% include home-image-gallery.html %}
