---
layout: wrapper
---
<div class="newsletter-page">
  <header class="newsletter-page__header">
      <h1 class="newsletter-page__title container">{{ page.title }}</h1>
  </header>
  <div class="newsletter-page__body container">
    <div class="newsletter-page__content">
      {{ content }}
    </div>
    {% include ads/newsletter-small-avocadostore.html %}
    {% include ads/newsletter-small-ubup.html %}
    {% include ads/newsletter-wide-avocadostore.html %}
    {% include ads/newsletter-wide-ubup.html %}
  </div>
</div>
