<!DOCTYPE html>
<html lang="de-DE">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#aaddaa" />
    <meta property="og:locale" content="de_DE" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta name="p:domain_verify" content="303a6cf98d134506ab7a9aafa48e9b5f"/>
    {% if page.layout == 'home' %}
        {% include meta-home.html %}
    {% else %}
        {% include meta-page.html %}
    {% endif %}
    <!-- favicon -->
    <link rel="icon" type="image/icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/logos/favicon.png">
    <!-- included stylesheets -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- included scripts -->
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    {% include gtm-head.html %}
  </head>

  <body class="site">
    {% include gtm-body.html %}
    {% include header.html %}
    {% if page.type == 'center' %}
      <main id="main" class="main main--center">
        <div class="container">
          {{ content }}
        </div>
      </main>
    {% elsif page.type == 'test' %}
      <main id="main" class="main main--test">
        {{ content }}
      </main>
    {% elsif page.title == 'home' %}
      <main id="main" class="main main--home">
        {{ content }}
      </main>
    {% else %}
      <main id="main" class="main">
        <div class="container">
          {{ content }}
        </div>
      </main>
    {% endif %}
    {% include footer.html %}
    {% include cookie-consent.html %}
    {% include newsletter-popup.html %}
    {% include back-to-top.html %}
    <footer>
      <!-- footer scripts -->
      <script src="/js/header-menu.js" type="text/javascript"></script>
      <script src="/js/cookie-consent.js" type="text/javascript"></script>
      <script src="/js/newsletter-popup.js" type="text/javascript"></script>
      <script src="/js/scroll.js" type="text/javascript"></script>
      <script src="/js/comments.js" type="text/javascript"></script>
    </footer>
  </body>

</html>
