<section class="featured-posts container" aria-labelledby="featured-posts-title">
  <h2 class="featured-posts__title" id="featured-posts-title">Empfohlene Beiträge</h2>
  <ul class="featured-posts__list">
    {% assign uid = site.featured-posts | first %}
    {% assign post = site.posts | where: "uid", uid | first %}
    <li class="featured-posts__list-item">
      {% include posts/large-post.html page="home" %}
    </li>
    {% for uid in site.featured-posts offset:1 %}
      {% assign post = site.posts | where: "uid", uid | first %}
      <li class="featured-posts__list-item">
        {% include posts/small-post.html page="home" %}
      </li>
    {% endfor %}
  </ul>
</section>
