<div class="all-posts all-posts--home container">
  <h2 class="all-posts__title">Alle Beiträge</h2>
  <ul class="all-posts__list">
  {% for post in site.posts %}
    {% if forloop.index <= 10 %}
      <li class="all-posts__list-item">
        {% include posts/medium-post.html page="home" %}
      </li>
    {% else %}
      <li class="all-posts__list-item all-posts__list-item--hidden">
        {% include posts/medium-post.html page="home" %}
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<button class="more-button primary" type="button">Mehr Posts laden</button>
