<section class="ad container container--main" aria-labelledby="Anzeige">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- homepage-middle-responsive -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5905300284966483"
       data-ad-slot="4176852920"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section>
