<section class="ad content" aria-labelledby="Anzeige">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- post-bottom-responsive -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5905300284966483"
       data-ad-slot="2224002229"
       data-ad-format="auto"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section>

<!-- <section class="ad ad--mobile content" aria-labelledby="Anzeige">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:265px;height:265px"
       data-ad-client="ca-pub-5905300284966483"
       data-ad-slot="8200234745"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section>

<section class="ad ad--desktop content" aria-labelledby="Anzeige">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:700px;height:300px"
       data-ad-client="ca-pub-5905300284966483"
       data-ad-slot="8576844541"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section> -->
