<section class="ad ad--mobile content" aria-labelledby="Anzeige">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- post-bottom-mobile -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:265px;height:265px"
       data-ad-client="ca-pub-5905300284966483"
       data-ad-slot="8200234745"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section>

<section class="ad ad--desktop content" aria-labelledby="Anzeige">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- post-bottom-desktop -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:700px;height:300px"
       data-ad-client="ca-pub-5905300284966483"
       data-ad-slot="8576844541"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</section>

<section class="ad content" aria-labelledby="Anzeige">
  <!-- BEGIN PARTNER PROGRAM - DO NOT CHANGE THE PARAMETERS OF THE HYPERLINK -->
  <script language="javascript" type="text/javascript" src="http://banners.webmasterplan.com/view.asp?ref=856236&site=9192&type=html&hnb=6&js=1"></script>
  <noscript><a href="http://partners.webmasterplan.com/click.asp?ref=856236&site=9192&type=b1&bnb=1" target="_blank">
  <img src="http://banners.webmasterplan.com/view.asp?ref=856236&site=9192&b=1" border="0"/></a><br /></noscript>
  <!-- END PARTNER PROGRAM -->
</section>
