$font-size-base: 1rem;
$font-size-text: 1.2rem;
$line-height-base: 1.5;

$margin-base: 1.5rem;
$padding-base: 1.25rem;

$transition-duration: 0.15s;
$border: 1px solid $second-color;
$border-radius: 5px;

$fa-font-path: "../webfonts";

// custom
$margin-to-content: 6*$margin-base;
$margin-between-content: 2*$margin-base;
$max-width-content: 800px;
