// base colors to get consistent color scheme

// primary
$primary-100:     hsl(120, 40%, 98%);
$primary-200:     hsl(120, 41%, 90%); //#dbf0db
$primary-300:     hsl(120, 42%, 83%); //#c1e6c1
$primary-400:     hsl(120, 42%, 70%);
$primary-500:     hsl(120, 35%, 58%); //#6eb96e
$primary-600:     hsl(120, 33%, 46%); //#4f9c4f
$primary-700:     hsl(120, 31%, 37%); //#417c41
$primary-800:     hsl(120, 46%, 21%);
$primary-900:     hsl(120, 43%, 15%);

// neutral
$neutral-100:     hsl(125, 8%, 98%); //#f9fafa
$neutral-200:     hsl(127, 15%, 78%);
$neutral-300:     hsl(128, 16%, 65%);
$neutral-400:     hsl(138, 12%, 45%);
$neutral-500:     hsl(120, 17%, 30%); //#3f5a3f
$neutral-600:     hsl(120, 26%, 20%);
$neutral-700:     hsl(129, 45%, 13%);
$neutral-800:     hsl(134, 71%, 8%); //#06230d
$neutral-900:     hsl(105, 85%, 4%); //#061302

// accent
$accent-500:      hsl(120, 31%, 37%);
$accent-900:      hsl(349, 67%, 50%);

// patreon
$patreon-100:     hsl(7, 77%, 59%); //#e75946
$patreon-200:     hsl(7, 90%, 75%); //#f99486
$patreon-300:     hsl(205, 87%, 15%); //#052d49
