$max-width: 1236px; //1196px + 40px padding
$max-width-without-padding: 1196px;
$page-side-padding: 1.25rem; // 20px

$font-size-paragraph: 1.125rem; // 18px
$line-height-paragraph: 2;
$font-size-paragraph-mobile: 1rem; // 16px
$line-height-paragraph-mobile: 1.7;
$margin-bottom-paragraph: 1.25rem; // 20px
$margin-bottom-paragraph-mobile: 1rem; // 16px

$margin-content: 10rem; // 160px;
$margin-content-mobile: 6.25rem; //100px

$fa-font-path: '../webfonts';





$line-height-base: $line-height-paragraph;
$font-size-base: 1rem;
$margin-base: 1.5rem;
$padding-base: 1.25rem;
