{% assign category = site.data.categories[page.category] %}
<div class="featured-posts container">
  <h2 class="featured-posts__title">Empfohlene Beiträge</h2>
  <ul class="featured-posts__list">
    {% assign latest-post = site.categories[page.category] | first %}
    <li class="featured-posts__list-item">
      {% include posts/large-post.html page="category" %}
    </li>
    {% for uid in category.featured %}
      {% assign post = site.posts | where: "uid", uid | first %}
      <li class="featured-posts__list-item">
        {% include posts/small-post.html page="category" %}
      </li>
    {% endfor %}
  </ul>
</div>
