<div class="all-posts container">
  <h2 class="all-posts__title">Alle Beiträge</h2>
  <ul class="all-posts__list">
  {% for post in site.categories[page.category] %}
    <li class="all-posts__list-item">
      {% include posts/medium-post.html page="category" %}
    </li>
  {% endfor %}
  </ul>

  {% assign category = site.data.categories[page.category] %}
  <aside class="all-posts__sidebar sources">
    <h3 class="sources__title">Mehr zum Thema</h3>
    <ul class="sources__list">
    {% for link in category.links %}
      <li class="sources__list-item">
        <a class="sources__link" href="{{ link.url }}" target="_blank">{{ link.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </aside>
</div>
