{% assign category = site.data.menu | where: "title", page.category | first %}
{% if category.subcategories %}
<section class="subcategories container" aria-labelledby="subcategories-title">
  <h2 class="subcategories__title" id="subcategories-title">Unterkategorien</h2>
  <nav class="subcategories__navigation">
    <ul class="subcategories__list">
      {% for subcategory in category.subcategories %}
      <li class="subcategory">
        <a class="subcategory__link" href="{{ subcategory.href }}">
          <h3 class="subcategory__title">{{ subcategory.title }}</h3>
          <div class="subcategory__cover cover cover--background">
            <img class="subcategory__image cover__image" src="/assets/category-images/{{ subcategory.title | slugify: 'latin' }}.jpg" alt="" />
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</section>
{% endif %}
